{% extends "authorized.html" %}
{% block conten%}
    <div class="row" style="max-height: 526px; overflow: scroll;" >
        <div class="col-md-9"   style="padding-left: 20px;">
                <div class="container-fluid">
                    <h2 class="text-center"> About Us</h2>
                    <h4 class="text-center ">INTRODUCTION</h4>
                        <div class="divider" >
{#                                <p >XampesA Company idea was founded by JOHN  SCOTT  and officially registered in France in Dec 2017. Previously several years we as company provided lucrative investment services and lessons to private clients in France we have honed our knowledge of how to do business with a small attracted capital. Within that period, we have formed our own system trading strategy in different plans with the elements of high financial security. The main goal of our work is the safety of funds, and any one who following our task is able to make high profits by joining at XampesA due to facilities and algorithm used to interact several businesses into one processor.</p></b>#}

                                <p>The most promising area of profitable activity  at xampesa is the system(company) works for you and you only need to invest or work with it in any way and obtain capital from it and receive your commission according to the plans level as a member and we make sure you reach to your expectations without failure and we tried to make it user friendly and simple anyone can do it.</p>

                                <p>We clinch to establish a business plan to span the business around The world, reaching a new stage of development, with conclusion that XampesA capital trading is necessary for us, which can help us with more competitively and effectively performing to our local business with small initial capital at the beginning </p>

                                <p>Our goal is to strengthen local sector also provide competitive in the world market by attract with connection resources which accepts funds of participants and investors to working constantly, by bringing everyone to the stable income and a welfare.</p>
                        </div>
                </div>
        </div>


        <div class="col-md-3"  style="min-height: 526px;overflow: scroll; padding-left: 20px; max-height: 450px; background-image:url(../static/image/background.jpg)">
            <div >

                        <h2 class="text-center" style="font-weight: 300;"> Purpose</h2>

                        <h4 class="text-center "></h4>
                <div class="divider">
                        <p >Xampesa is intended to people who wish to achieve their financial goals but unable to do so because they're not financial experts in trading.</p></b>

                        <p>Xampesa is a long term and profitable investment program, backed up by market trading, Work opertunities(hiring), and investing in various funds and activities. Profits from these investments are used to enhance our program and increase its stability for the long term.</p>

                        <p>Our main goal is to create and maintain a safe and prosperous Trading environment. We are able to provide long-lasting and mutually beneficial business relations with all our customers.</p>

                        <p>Investing in Xampesa your money is going to be a total balance and invest to different projects afterwards. After investing into the different projects our company receives dividends and you make a profit on deposits. Due to the long-term experience financial company cash flows is considerable so you get a profit daily without any delay.</p>
                </div>
            </div>

        </div>


    </div>
{%endblock%}