{% extends "authorisedcarier.html" %}
{% load crispy_forms_filters %}
{% block BitcoinDeposit %}
    <div class="text-center" style="background-color:#777; color: white; font-weight: 300; padding: 0.5%; font-size: 19px; font-family: 'Open Sans', sans-serif;">

            DEPOSIT BY BITCOIN

    </div>

    <script>
    function validateFunct()
    {
        var x=document.forms["payee"]["package"];
        var y=document.forms["payee"]["m_amount"];
        if( x==null||x=="")
        {
            alert("Choose the package to continue");
        }
        else {
            alert("yesa")
        }
    }
    </script>
    <form class="form-horizontal" action="" target="_top" method="post" >{% csrf_token %}
{#        {{ form|crispy }}#}
    {% include "bitcoindeposittemplate.html" %}

    </form>


{% endblock %}