{{ form.package.error }}
<div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a style="font-size: 14px; padding: 1px;" class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">DAILY PLAN PACKAGES </a>
                            </h4>
                        </div>
    <div id="collapseOne" class="panel-collapse collapse">
        <div class="panel-body" style="background-image: url(../static/image/boombox.gif);">

                    <div class="" style="background: rgba(205,205,205,0.2); height: 300px; overflow-y: scroll;">

                                <table class="table ">
                                <tbody>
                                <tr style="font-size: 15px;">
                                    <th>Plan</th>
                                    <th>Amount to spend</th>
                                    <th>Profit ( % )</th>
                                    <th>Principle</th>
                                    <th>Choice</th>

                                </tr>
                                <tr style="font-size: 12px;">
                                    <td>Silver</td>

                                    <td>0.00146<i class="fa fa-btc" style="font-weight: 200; color: #444;" aria-hidden="false"></i> - 0.02555<i class="fa fa-btc" style="font-weight: 200; color: #444;" aria-hidden="true"></i></td>

                                    <td> 1.0% </td>

                                    <td>100% Back</td>
                                    <td><input type="radio" name="package" id="id_package_1" value="Silver" style="width: 100%" ></td>

                                </tr>

                                <tr style="font-size: 12px;">
                                    <td>Tarnish</td>

                                    <td>0.365073<i class="fa fa-btc" style="font-weight: 200; color: #444;" aria-hidden="true"></i> - 0.73<i class="fa fa-btc" style="font-weight: 200; color: #444;" aria-hidden="true"></i></td>

                                    <td> 4%</td>

                                    <td>100% Back</td>
                                    <td><input type="radio" name="package" id="id_package_2" value="Tarnish" style="width: 100%" ></td>

                                </tr>
                                <tr style="font-size: 12px;">
                                    <td>Charoite</td>

                                    <td>0.730073<i class="fa fa-btc" style="font-weight: 200; color: #444;" aria-hidden="true"></i> - 3.65<i class="fa fa-btc" style="font-weight: 200; color: #444;" aria-hidden="true"></i></td>

                                    <td> 6%</td>

                                    <td>100% Back</td>
                                    <td><input type="radio" name="package" id="id_package_3" value="Charoite" style="width: 100%"  ></td>

                                </tr>
                                </tbody>
                                </table>


                        <div class="text-center" style="padding-top: 50px; padding-bottom: 10px;">Daily profit for 2 months (Principle return)</div>
                            <table class="table table-responsive">
                            <tbody>
                            <tr style="font-size: 15px;">
                                <th>Plan</th>
                                <th>Amount to spend</th>
                                <th>Profit (%)</th>
                                <th>Principle</th>
                                <th>Choice</th>

                            </tr>
                            <tr style="font-size: 12px;">
                                <td>TANZANITE</td>

                                <td>0.00073<i class="fa fa-btc" style="font-weight: 200; color: #444;" aria-hidden="true"></i> - 0.0219<i class="fa fa-btc" style="font-weight: 200; color: #444;" aria-hidden="true"></i></td>

                                <td> 0.8% </td>

                                <td>100% Back</td>
                                <td><input type="radio" name="package" id="id_package_4" value="TANZANITE" style="width: 100%"  ></td>

                            </tr>

                            <tr style="font-size: 12px;">
                                <td>Karat</td>

                                <td>0.365073<i class="fa fa-btc" style="font-weight: 200; color: #444;" aria-hidden="true"></i> - 0.73<i class="fa fa-btc" style="font-weight: 200; color: #444;" aria-hidden="true"></i></td>

                                <td> 2.8%</td>
                                <td>100% Back</td>
                                <td><input type="radio" name="package" id="id_package_5" value="Karat" style="width: 100%"></td>

                            </tr>
                            <tr style="font-size: 12px;">
                                <td>Corundum</td>

                                <td>0.730073<i class="fa fa-btc" style="font-weight: 200; color: #444;" aria-hidden="true"></i> - 3.65<i class="fa fa-btc"  style="font-weight: 200; color: #444;" aria-hidden="true"></i></td>

                                <td> 3.2%</td>
                                <td>100% Back</td>
                                <td><input type="radio" name="package" id="id_package_6" value="Corundum" style="width: 100%" ></td>

                            </tr>
                            </tbody>
                            </table>


                        <div class="text-center" style="padding-top: 50px; padding-bottom: 10px;">Daily profit for 3 months (Principle return)</div>
                            <table class="table table-responsive">
                            <tbody>
                            <tr style="font-size: 15px;">
                                <th>Plan</th>
                                <th>Amount to spend</th>
                                <th>Profit ( % )</th>
                                <th>Principle</th>
                                <th>Choices</th>

                            </tr>
                            <tr style="font-size: 12px;">
                                <td>TITANIUM</td>

                                <td>0.146<i class="fa fa-btc" style="font-weight: 200; color: #444;" aria-hidden="true"></i> - 2.19<i class="fa fa-btc" style="font-weight: 200; color: #444;" aria-hidden="true"></i></td>

                                <td> 1.1% </td>

                                <td>100% Back</td>
                                <td><input type="radio" name="package" id="id_package_7" value="TITANIUM" style="width: 100%"></td>

                            </tr>

                            <tr style="font-size: 12px;">
                                <td>Niello</td>

                                <td>0.073073<i class="fa fa-btc" style="font-weight: 200; color: #444;" aria-hidden="true"></i> - 0.073<i class="fa fa-btc" style="font-weight: 200; color: #444;" aria-hidden="true"></i></td>

                                <td> 2.2%</td>
                                <td>100% Back</td>
                                <td><input type="radio" name="package" id="id_package_8" value="Niello" style="width: 100%" requ></td>

                            </tr>
                            <tr style="font-size: 12px;">
                                <td>Zircorn</td>

                                <td>1.460073<i class="fa fa-btc" style="font-weight: 200; color: #444;" aria-hidden="true"></i> - 3.65<i class="fa fa-btc" style="font-weight: 200; color: #444;" aria-hidden="true"></i></td>

                                <td> 3%</td>

                                <td>100% Back</td>
                                <td><input type="radio" name="package" id="id_package_9" value="Zircorn" style="width: 100%"  ></td>

                            </tr>
                            </tbody>
                            </table>


                        <div class="text-center" style="padding-top: 50px; padding-bottom: 10px;">Daily profit for 3 months and 10 days (Principle return)</div>
                            <table class="table table-responsive">
                            <tbody>
                            <tr style="font-size: 15px;">
                                <th>Plan</th>
                                <th>Amount to spend</th>
                                <th>Profit ( % )</th>
                                <th>Principle</th>
                                <th>Choices</th>

                            </tr>
                            <tr style="font-size: 12px;">
                                <td>DIAMOND</td>

                                <td>0.0511<i class="fa fa-btc" style="font-weight: 200; color: #444;" aria-hidden="true"></i> - 0.073<i class="fa fa-btc" style="font-weight: 200; color: #444;" aria-hidden="true"></i></td>

                                <td> 0.8% </td>

                                <td>100% Back</td>
                                <td><input type="radio" name="package" id="id_package_10" value="DIAMOND" style="width: 100%"  ></td>

                            </tr>

                            <tr style="font-size: 12px;">
                                <td>Quartz</td>

                                <td>0.073073<i class="fa fa-btc" style="font-weight: 200; color: #444;" aria-hidden="false"></i> - 0.73<i class="fa fa-btc" style="font-weight: 200; color: #444;" aria-hidden="false"></i></td>

                                <td> 2.8%</td>

                                <td>100% Back</td>
                                <td><input type="radio" name="package" id="id_package_11" value="Quartz" style="width: 100%"></td>

                            </tr>
                            <tr style="font-size: 12px;">
                                <td>Carbon</td>

                                <td>0.730073<i class="fa fa-btc" style="font-weight: 200; color: #444;" aria-hidden="true"></i> - 3.65<i class="fa fa-btc" style="font-weight: 200; color: #444;" aria-hidden="true"></i></td>

                                <td> 3%</td>

                                <td>100% Back</td>
                                <td><input type="radio" name="package" id="id_package_12" value="Carbon" style="width: 100%"  ></td>

                            </tr>
                            </tbody>
                            </table>



                        <div class="text-center" style="padding-top: 50px; padding-bottom: 10px;">Daily profit for 4 months and 5 days (Principle return)</div>
                            <table class="table table-responsive">
                            <tbody>
                            <tr style="font-size: 15px;">
                                <th>Plan</th>
                                <th>Amount to spend</th>
                                <th>Profit ( % )</th>
                                <th>Principle</th>
                                <th>Choices</th>

                            </tr>
                            <tr style="font-size: 12px;">
                                <td>Gold</td>

                                <td>0.02555<i class="fa fa-btc" style="font-weight: 200; color: #444;" aria-hidden="true"></i> - 0.0657<i class="fa fa-btc"  style="font-weight: 200; color: #444;" aria-hidden="true"></i></td>

                                <td> 1.4% </td>

                                <td>100% Back</td>
                                <td><input type="radio" name="package" id="id_package_13" value="Gold" style="width: 100%"  ></td>

                            </tr>

                            <tr style="font-size: 12px;">
                                <td>Platnum</td>

                                <td>0.073073<i class="fa fa-btc" style="font-weight: 200; color: #444;" aria-hidden="true"></i> - 0.73<i class="fa fa-btc" style="font-weight: 200; color: #444;" aria-hidden="true"></i></td>

                                <td> 2.8%</td>

                                <td>100% Back</td>
                                <td><input type="radio" name="package" id="id_package_14" value="Platnum" style="width: 100%" ></td>

                            </tr>
                            <tr style="font-size: 12px;">
                                <td>Pearl</td>

                                <td>0.730073<i class="fa fa-btc" style="font-weight: 200; color: #444;" aria-hidden="true"></i> - 3.65<i class="fa fa-btc" style="font-weight: 200; color: #444;" aria-hidden="true"></i></td>

                                <td> 3%</td>

                                <td>100% Back</td>
                                <td><input type="radio" name="package" id="id_package_15" value="Pearl" style="width: 100%"  ></td>

                            </tr>
                            </tbody>
                            </table>

                    </div>
        </div>
    </div>
</div>

<div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a style="font-size: 14px; padding: 1px;" class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">AFTER PLAN PACKAGES </a>
                            </h4>
                        </div>
    <div id="collapseTwo" class="panel-collapse collapse">
        <div class="panel-body" style="background-image: url(../static/image/boombox.gif);">


                    <div class="" style="background: rgba(205,205,205,0.2); height: 300px; overflow-y: scroll;">
                        <div class="text-center" style="padding-top: 50px; padding-bottom: 10px;">After 5 days</div>
                                <table class="table ">
                                <tbody>
                                <tr style="font-size: 15px;">
                                    <th>Plan</th>
                                    <th>Amount to spend</th>
                                    <th>Profit ( % )</th>
                                    <th>Principle</th>
                                    <th>Choice</th>

                                </tr>
                                <tr style="font-size: 12px;">
                                    <td>Copper</td>

                                    <td>0.00073<i class="fa fa-btc" style="font-weight: 200; color: #444;" aria-hidden="true"></i> - 0.0219<i class="fa fa-btc" aria-hidden="true"></i></td>

                                    <td> 125% </td>

                                    <td>No principle</td>
                                    <td><input type="radio" name="package" id="id_package_16" value="Copper" style="width: 100%" ></td>

                                </tr>

                                <tr style="font-size: 12px;">
                                    <td>Lapls</td>

                                    <td>3.650073<i class="fa fa-btc" style="font-weight: 200; color: #444;" aria-hidden="true"></i> - 0.73<i class="fa fa-btc" aria-hidden="true"></i></td>

                                    <td> 135%</td>

                                    <td>No principle</td>
                                    <td><input type="radio"  name="package" id="id_package_17" value="Lapls" style="width: 100%" ></td>

                                </tr>
                                <tr style="font-size: 12px;">
                                    <td>Emerald</td>

                                    <td>0.730073<i class="fa fa-btc" style="font-weight: 200; color: #444;" aria-hidden="true"></i> - 3.65<i class="fa fa-btc" style="font-weight: 200; color: #444;" aria-hidden="true"></i></td>

                                    <td> 150%</td>

                                    <td>No principle</td>
                                    <td><input type="radio" name="package" id="id_package_18" value="Platnum" style="width: 100%"  ></td>

                                </tr>
                                </tbody>
                                </table>


                        <div class="text-center" style="padding-top: 50px; padding-bottom: 10px;">After 7 days</div>
                            <table class="table table-responsive">
                            <tbody>
                            <tr style="font-size: 15px;">
                                <th>Plan</th>
                                <th>Amount to spend</th>
                                <th>Profit (%)</th>
                                <th>Principle</th>
                                <th>Choice</th>

                            </tr>
                            <tr style="font-size: 12px;">
                                <td>Iron</td>

                                <td>0.00073<i class="fa fa-btc" style="font-weight: 200; color: #444;" aria-hidden="true"></i> - 0.0219<i class="fa fa-btc" style="font-weight: 200; color: #444;" aria-hidden="true"></i></td>

                                <td> 150% </td>

                                <td>No principle</td>
                                <td><input type="radio" name="package" id="id_package_19" value="Iron" style="width: 100%" ></td>

                            </tr>

                            <tr style="font-size: 12px;">
                                <td>Glass</td>

                                <td>0.365073<i class="fa fa-btc" style="font-weight: 200; color: #444;" aria-hidden="true"></i> - 0.73<i class="fa fa-btc" style="font-weight: 200; color: #444;" aria-hidden="true"></i></td>

                                <td> 170%</td>
                                <td>No principle</td>
                                <td><input type="radio" name="package" id="id_package_20" value="Glass" style="width: 100%"></td>

                            </tr>
                            <tr style="font-size: 12px;">
                                <td>Moisanite</td>

                                <td>0.730073<i class="fa fa-btc" style="font-weight: 200; color: #444;" aria-hidden="true"></i> - 3.65<i class="fa fa-btc" style="font-weight: 200; color: #444;" aria-hidden="true"></i></td>

                                <td> 200%</td>
                                <td>No principle</td>
                                <td><input type="radio" name="package" id="id_package_21" value="Moisanite" style="width: 100%"  ></td>

                            </tr>
                            </tbody>
                            </table>


                        <div class="text-center" style="padding-top: 50px; padding-bottom: 10px;">After 15 days</div>
                            <table class="table table-responsive">
                            <tbody>
                            <tr style="font-size: 15px;">
                                <th>Plan</th>
                                <th>Amount to spend</th>
                                <th>Profit ( % )</th>
                                <th>Principle</th>
                                <th>Choices</th>

                            </tr>
                            <tr style="font-size: 12px;">
                                <td>Calcite</td>

                                <td>0.146<i class="fa fa-btc" style="font-weight: 200; color: #444;" aria-hidden="true"></i> - 2.19<i class="fa fa-btc" style="font-weight: 200; color: #444;" aria-hidden="true"></i></td>

                                <td> 250%</td>

                                <td>No principle</td>
                                <td><input type="radio" name="package" id="id_package_22" value="Calcite" style="width: 100%"  ></td>

                            </tr>

                            <tr style="font-size: 12px;">
                                <td>Sapphire</td>

                                <td>0.073073<i class="fa fa-btc" style="font-weight: 200; color: #444;" aria-hidden="true"></i> - 0.73<i class="fa fa-btc" style="font-weight: 200; color: #444;" aria-hidden="true"></i></td>

                                <td> 300%</td>
                                <td>No principle</td>
                                <td><input type="radio" name="package" id="id_package_23" value="Sapphire" style="width: 100%"  ></td>

                            </tr>
                            <tr style="font-size: 12px;">
                                <td>Ruby</td>

                                <td>1.460073<i class="fa fa-btc" style="font-weight: 200; color: #444;" aria-hidden="true"></i> - 3.65<i class="fa fa-btc" style="font-weight: 200; color: #444;" aria-hidden="true"></i></td>

                                <td> 385%</td>

                                <td>No principle</td>
                                <td><input type="radio" name="package" id="id_package_24" value="Ruby" style="width: 100%" required="" ></td>

                            </tr>
                            </tbody>
                            </table>


                        <div class="text-center" style="padding-top: 50px; padding-bottom: 10px;">After 30 days</div>
                            <table class="table table-responsive">
                            <tbody>
                            <tr style="font-size: 15px;">
                                <th>Plan</th>
                                <th>Amount to spend</th>
                                <th>Profit ( % )</th>
                                <th>Principle</th>
                                <th>Choices</th>

                            </tr>
                            <tr style="font-size: 12px;">
                                <td>Amber</td>

                                <td>0.00511<i class="fa fa-btc" style="font-weight: 200; color: #444;" aria-hidden="true"></i> - 0.073<i class="fa fa-btc" aria-hidden="true"></i></td>

                                <td> 700%</td>

                                <td>No principle</td>
                                <td><input type="radio" name="package" id="id_package_25" value="Amber" style="width: 100%" ></td>

                            </tr>

                            <tr style="font-size: 12px;">
                                <td>Agate</td>

                                <td>0.073073<i class="fa fa-btc" style="font-weight: 200; color: #444;" aria-hidden="true"></i> - 0.73<i class="fa fa-btc" aria-hidden="true"></i></td>

                                <td> 1200%</td>

                                <td>No principle</td>
                                <td><input type="radio" name="package"  id="id_package_26" value="Agate" style="width: 100%" ></td>

                            </tr>
                            <tr style="font-size: 12px;">
                                <td>Amazonnile</td>

                                <td>0.730073<i class="fa fa-btc"  style="font-weight: 200; color: #444;" aria-hidden="true"></i> - 3.65<i class="fa fa-btc" aria-hidden="true"></i></td>

                                <td> 3%</td>

                                <td>1700%</td>
                                <td><input type="radio" name="package" id="id_package_27" value="Amazonnile" style="width: 100%"  ></td>

                            </tr>
                            </tbody>
                            </table>



                        <div class="text-center" style="padding-top: 50px; padding-bottom: 10px;">After 50 days</div>
                            <table class="table table-responsive">
                            <tbody>
                            <tr style="font-size: 15px;">
                                <th>Plan</th>
                                <th>Amount to spend</th>
                                <th>Profit ( % )</th>
                                <th>Principle</th>
                                <th>Choices</th>

                            </tr>
                            <tr style="font-size: 12px;">
                                <td>Beads</td>

                                <td>0.02555<i class="fa fa-btc" style="font-weight: 200; color: #444;" aria-hidden="true"></i> - 0.0657<i class="fa fa-btc" aria-hidden="true"></i></td>

                                <td> 1200% </td>

                                <td>No principle</td>
                                <td><input type="radio" name="package" id="id_package_28" value="Beads" style="width: 100%" ></td>

                            </tr>

                            <tr style="font-size: 12px;">
                                <td>Beryl</td>

                                <td>0.073073<i class="fa fa-btc" style="font-weight: 200; color: #444;" aria-hidden="true"></i> - 0.73<i class="fa fa-btc" aria-hidden="true"></i></td>

                                <td> 1500%</td>

                                <td>No principle</td>
                                <td><input type="radio" name="package" id="id_package_29" value="Beryl" style="width: 100%"></td>

                            </tr>
                            <tr style="font-size: 12px;">
                                <td>Azuriite with Malanche</td>

                                <td>0.730073<i class="fa fa-btc" style="font-weight: 200; color: #444;" aria-hidden="true"></i> - 3.65<i class="fa fa-btc" aria-hidden="true"></i></td>

                                <td> 2000%</td>

                                <td>No principle</td>
                                <td><input type="radio" name="package" id="id_package_30" value="Azuriite with Malanche" style="width: 100%" ></td>

                            </tr>
                            </tbody>
                            </table>

                    </div>
        </div>
    </div>
</div>



{% if form.non_field_errors %}
<div style="font-size: 12px;" class="alert alert-danger alert-dismissible text-center" role="alert"><button type="button" class="close pull-right" data-dismiss="alert" aria-label="Close"  ><span aria-hidden="true">&times;</span></button>Sorry dear {{ user.first_name }},{{ form.non_field_errors }}</div>
{% else %}
{% endif %}
<div class="fieldWrapper" >
    {{ form.user.errors }}
    <center><input type="hidden" name="user" maxlength="125" class="textinput textInput form-control " required="" id="id_user" value="{{ user }} "></center>
</div>

<div class="fieldWrapper" >
    {{ form.username.errors }}
    <center><input type="hidden" name="username" maxlength="125" class="textinput textInput form-control " required="" id="id_username" value= "{{ user.userinfo }}"></center>
</div>


<div class="fieldWrapper" >
    {{ form.processor.errors }}
    <center><input type="hidden" name="processor" maxlength="125" class="textinput textInput form-control" required="" id="id_processor" value= "Bitcoin"></center>
</div>









<div class="table-responsive col-sm-5 col-sm-offset-3">

{{form.b_amount.errors }}
<div class="fieldWrapper" style="padding-bottom: 3%; padding-top: 3% ">
{#<input type="text" name="amount" m class="textinput textInput form-control" required="" >#}
{{ form.b_amount }}
</div>
<div class="fieldWrapper" style="padding-bottom: 3%; ">
<input style="width:50%; margin-left:25%" type="submit" value="process">
</div>


</div>