{% extends 'authorisedcarier.html' %}
{% load crispy_forms_tags %}

{% block editaccount %}
<div>
    <div class="text-center" style="background-color:#777; font-weight: 300; border-top-left-radius:5px; border-top-right-radius:5px;  color: white;; padding: 0.5%; font-size: 19px; font-family: 'Open Sans', sans-serif;">

            CHANGE PASSWORD

    </div>
<div class="col-sm-6 col-sm-offset-3" style="padding-top: 10px;">
    <form method="post">{% csrf_token %}
        {{form| crispy}}
        <button style="width:50%; margin-left:25%" type="submit">submit</button>
    </form>
    <br/>
    </div>
</div>
{% endblock %}