
<div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a style="font-size: 14px; padding: 1px;" class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">DAILY PLAN PACKAGES </a>
                            </h4>
                        </div>
    <div id="collapseOne" class="panel-collapse collapse">
        <div class="panel-body" style="background-image: url(../static/image/boombox.gif)">

                    <div class="" style="background: rgba(205,205,205,0.2); height: 300px; overflow-y: scroll;">

                                <table class="table ">
                                <tbody>
                                <tr style="font-size: 15px;">
                                    <th>Plan</th>
                                    <th>Amount to spend</th>
                                    <th>Profit ( % )</th>
                                    <th>Principle</th>
                                    <th>Choice</th>

                                </tr>
                                <tr style="font-size: 12px;">
                                    <td>Silver</td>

                                    <td>10$ - 300$</td>

                                    <td> 1.0% </td>

                                    <td>100% Back</td>
                                    <td><input type="radio" name="package" id="id_package_1" value="Silver" style="width: 100%" required=""></td>

                                </tr>

                                <tr style="font-size: 12px;">
                                    <td>Tarnish</td>

                                    <td>$5001.00 - $10000.00</td>

                                    <td> 4%</td>

                                    <td>100% Back</td>
                                    <td><input type="radio" name="package" id="id_package_2" value="Tarnish" style="width: 100%" required=""></td>

                                </tr>
                                <tr style="font-size: 12px;">
                                    <td>Charoite</td>

                                    <td>$10001.00 - $50000.00</td>

                                    <td> 6%</td>

                                    <td>100% Back</td>
                                    <td><input type="radio" name="package" id="id_package_3" value="Charoite" style="width: 100%" required="" ></td>

                                </tr>
                                </tbody>
                                </table>


                        <div class="text-center" style="padding-top: 50px; padding-bottom: 10px;">Daily profit for 2 months (Principle return)</div>
                            <table class="table table-responsive">
                            <tbody>
                            <tr style="font-size: 15px;">
                                <th>Plan</th>
                                <th>Amount to spend</th>
                                <th>Profit (%)</th>
                                <th>Principle</th>
                                <th>Choice</th>

                            </tr>
                            <tr style="font-size: 12px;">
                                <td>TANZANITE</td>

                                <td>10$ - 300$</td>

                                <td> 0.8% </td>

                                <td>100% Back</td>
                                <td><input type="radio" name="package" id="id_package_4" value="TANZANITE" style="width: 100%" required="" ></td>

                            </tr>

                            <tr style="font-size: 12px;">
                                <td>Karat</td>

                                <td>$5001.00 - $10000.00</td>

                                <td> 2.8%</td>
                                <td>100% Back</td>
                                <td><input type="radio" name="package" id="id_package_5" value="Karat" style="width: 100%" required="" ></td>

                            </tr>
                            <tr style="font-size: 12px;">
                                <td>Corundum</td>

                                <td>$10001.00 - $50000.00</td>

                                <td> 3.2%</td>
                                <td>100% Back</td>
                                <td><input type="radio" name="package" id="id_package_6" value="Corundum" style="width: 100%" required="" ></td>

                            </tr>
                            </tbody>
                            </table>


                        <div class="text-center" style="padding-top: 50px; padding-bottom: 10px;">Daily profit for 3 months (Principle return)</div>
                            <table class="table table-responsive">
                            <tbody>
                            <tr style="font-size: 15px;">
                                <th>Plan</th>
                                <th>Amount to spend</th>
                                <th>Profit ( % )</th>
                                <th>Principle</th>
                                <th>Choices</th>

                            </tr>
                            <tr style="font-size: 12px;">
                                <td>TITANIUM</td>

                                <td>2000$ - 30000$</td>

                                <td> 1.1% </td>

                                <td>100% Back</td>
                                <td><input type="radio" name="package" id="id_package_7" value="TITANIUM" style="width: 100%" required="" ></td>

                            </tr>

                            <tr style="font-size: 12px;">
                                <td>Niello</td>

                                <td>$1001.00 - $10000.00</td>

                                <td> 2.2%</td>
                                <td>100% Back</td>
                                <td><input type="radio" name="package" id="id_package_8" value="Niello" style="width: 100%" required="" ></td>

                            </tr>
                            <tr style="font-size: 12px;">
                                <td>Zircorn</td>

                                <td>$20001.00 - $50000.00</td>

                                <td> 3%</td>

                                <td>100% Back</td>
                                <td><input type="radio" name="package" id="id_package_9" value="Zircorn" style="width: 100%" required="" ></td>

                            </tr>
                            </tbody>
                            </table>


                        <div class="text-center" style="padding-top: 50px; padding-bottom: 10px;">Daily profit for 3 months and 10 days (Principle return)</div>
                            <table class="table table-responsive">
                            <tbody>
                            <tr style="font-size: 15px;">
                                <th>Plan</th>
                                <th>Amount to spend</th>
                                <th>Profit ( % )</th>
                                <th>Principle</th>
                                <th>Choices</th>

                            </tr>
                            <tr style="font-size: 12px;">
                                <td>DIAMOND</td>

                                <td>70$ - 1000$</td>

                                <td> 0.8% </td>

                                <td>100% Back</td>
                                <td><input type="radio" name="package" id="id_package_10" value="DIAMOND" style="width: 100%" required="" ></td>

                            </tr>

                            <tr style="font-size: 12px;">
                                <td>Quartz</td>

                                <td>$1001.00 - $10000.00</td>

                                <td> 2.8%</td>

                                <td>100% Back</td>
                                <td><input type="radio" name="package" id="id_package_11" value="Quartz" style="width: 100%" required="" ></td>

                            </tr>
                            <tr style="font-size: 12px;">
                                <td>Carbon</td>

                                <td>$10001.00 - $50000.00</td>

                                <td> 3%</td>

                                <td>100% Back</td>
                                <td><input type="radio" name="package" id="id_package_12" value="Carbon" style="width: 100%" required="" ></td>

                            </tr>
                            </tbody>
                            </table>



                        <div class="text-center" style="padding-top: 50px; padding-bottom: 10px;">Daily profit for 4 months and 5 days (Principle return)</div>
                            <table class="table table-responsive">
                            <tbody>
                            <tr style="font-size: 15px;">
                                <th>Plan</th>
                                <th>Amount to spend</th>
                                <th>Profit ( % )</th>
                                <th>Principle</th>
                                <th>Choices</th>

                            </tr>
                            <tr style="font-size: 12px;">
                                <td>Gold</td>

                                <td>350$ - 900$</td>

                                <td> 1.4% </td>

                                <td>100% Back</td>
                                <td><input type="radio" name="package" id="id_package_13" value="Gold" style="width: 100%" required="" ></td>

                            </tr>

                            <tr style="font-size: 12px;">
                                <td>Platnum</td>

                                <td>$1001.00 - $10000.00</td>

                                <td> 2.8%</td>

                                <td>100% Back</td>
                                <td><input type="radio" name="package" id="id_package_14" value="Platnum" style="width: 100%" required="" ></td>

                            </tr>
                            <tr style="font-size: 12px;">
                                <td>Pearl</td>

                                <td>$10001.00 - $50000.00</td>

                                <td> 3%</td>

                                <td>100% Back</td>
                                <td><input type="radio" name="package" id="id_package_15" value="Pearl" style="width: 100%" required="" ></td>

                            </tr>
                            </tbody>
                            </table>

                    </div>

        </div>
    </div>
</div>

<div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a style="font-size: 14px; padding: 1px;" class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">AFTER PLAN PACKAGES </a>
                            </h4>
                        </div>
    <div id="collapseTwo" class="panel-collapse collapse">
        <div class="panel-body" style="background-image: url(../static/image/boombox.gif);">


                    <div class="" style="background:rgba(255,255,255,0.5); height: 300px; overflow-y: scroll;">
                        <div class="text-center" style="background: rgba(205,205,205,0.2); padding-top: 50px; padding-bottom: 10px;">After 5 days</div>
                                <table class="table ">
                                <tbody>
                                <tr style="font-size: 15px;">
                                    <th>Plan</th>
                                    <th>Amount to spend</th>
                                    <th>Profit ( % )</th>
                                    <th>Principle</th>
                                    <th>Choice</th>

                                </tr>
                                <tr style="font-size: 12px;">
                                    <td>Copper</td>

                                    <td>10$ - 300$</td>

                                    <td> 125% </td>

                                    <td>No principle</td>
                                    <td><input type="radio" name="package" id="id_package_16" value="Copper" style="width: 100%" ></td>

                                </tr>

                                <tr style="font-size: 12px;">
                                    <td>Lapls</td>

                                    <td>$5001.00 - $10000.00</td>

                                    <td> 135%</td>

                                    <td>No principle</td>
                                    <td><input type="radio" name="package" id="id_package_17" value="Lapls" style="width: 100%" ></td>

                                </tr>
                                <tr style="font-size: 12px;">
                                    <td>Emerald</td>

                                    <td>$10001.00 - $50000.00</td>

                                    <td> 150%</td>

                                    <td>No principle</td>
                                    <td><input type="radio" name="package" id="id_package_18" value="Platnum" style="width: 100%"  ></td>

                                </tr>
                                </tbody>
                                </table>


                        <div class="text-center" style="padding-top: 50px; padding-bottom: 10px;">After 7 days</div>
                            <table class="table table-responsive">
                            <tbody>
                            <tr style="font-size: 15px;">
                                <th>Plan</th>
                                <th>Amount to spend</th>
                                <th>Profit (%)</th>
                                <th>Principle</th>
                                <th>Choice</th>

                            </tr>
                            <tr style="font-size: 12px;">
                                <td>Iron</td>

                                <td>10$ - 300$</td>

                                <td> 150% </td>

                                <td>No principle</td>
                                <td><input type="radio" name="package" id="id_package_19" value="Iron" style="width: 100%" ></td>

                            </tr>

                            <tr style="font-size: 12px;">
                                <td>Glass</td>

                                <td>$5001.00 - $10000.00</td>

                                <td> 170%</td>
                                <td>No principle</td>
                                <td><input type="radio" name="package" id="id_package_20" value="Glass" style="width: 100%"></td>

                            </tr>
                            <tr style="font-size: 12px;">
                                <td>Moisanite</td>

                                <td>$10001.00 - $50000.00</td>

                                <td> 200%</td>
                                <td>No principle</td>
                                <td><input type="radio" name="package" id="id_package_21" value="Moisanite" style="width: 100%"  ></td>

                            </tr>
                            </tbody>
                            </table>


                        <div class="text-center" style="padding-top: 50px; padding-bottom: 10px;">After 15 days</div>
                            <table class="table table-responsive">
                            <tbody>
                            <tr style="font-size: 15px;">
                                <th>Plan</th>
                                <th>Amount to spend</th>
                                <th>Profit ( % )</th>
                                <th>Principle</th>
                                <th>Choices</th>

                            </tr>
                            <tr style="font-size: 12px;">
                                <td>Calcite</td>

                                <td>2000$ - 30000$</td>

                                <td> 250%</td>

                                <td>No principle</td>
                                <td><input type="radio" name="package" id="id_package_22" value="Calcite" style="width: 100%"  ></td>

                            </tr>

                            <tr style="font-size: 12px;">
                                <td>Sapphire</td>

                                <td>$1001.00 - $10000.00</td>

                                <td> 300%</td>
                                <td>No principle</td>
                                <td><input type="radio" name="package" id="id_package_23" value="Sapphire" style="width: 100%"  ></td>

                            </tr>
                            <tr style="font-size: 12px;">
                                <td>Ruby</td>

                                <td>$20001.00 - $50000.00</td>

                                <td> 385%</td>

                                <td>No principle</td>
                                <td><input type="radio" name="package" id="id_package_24" value="Ruby" style="width: 100%" required="" ></td>

                            </tr>
                            </tbody>
                            </table>


                        <div class="text-center" style="padding-top: 50px; padding-bottom: 10px;">After 30 days</div>
                            <table class="table table-responsive">
                            <tbody>
                            <tr style="font-size: 15px;">
                                <th>Plan</th>
                                <th>Amount to spend</th>
                                <th>Profit ( % )</th>
                                <th>Principle</th>
                                <th>Choices</th>

                            </tr>
                            <tr style="font-size: 12px;">
                                <td>Amber</td>

                                <td>70$ - 1000$</td>

                                <td> 700%</td>

                                <td>No principle</td>
                                <td><input type="radio" name="package" id="id_package_25" value="Amber" style="width: 100%" ></td>

                            </tr>

                            <tr style="font-size: 12px;">
                                <td>Agate</td>

                                <td>$1001.00 - $10000.00</td>

                                <td> 1200%</td>

                                <td>No principle</td>
                                <td><input type="radio" name="package" id="id_package_26" value="Agate" style="width: 100%" ></td>

                            </tr>
                            <tr style="font-size: 12px;">
                                <td>Amazonnile</td>

                                <td>$10001.00 - $50000.00</td>

                                <td> 3%</td>

                                <td>1700%</td>
                                <td><input type="radio" name="package" id="id_package_27" value="Amazonnile" style="width: 100%"  ></td>

                            </tr>
                            </tbody>
                            </table>



                        <div class="text-center" style="padding-top: 50px; padding-bottom: 10px;">After 50 days</div>
                            <table class="table table-responsive">
                            <tbody>
                            <tr style="font-size: 15px;">
                                <th>Plan</th>
                                <th>Amount to spend</th>
                                <th>Profit ( % )</th>
                                <th>Principle</th>
                                <th>Choices</th>

                            </tr>
                            <tr style="font-size: 12px;">
                                <td>Beads</td>

                                <td>350$ - 900$</td>

                                <td> 1200% </td>

                                <td>No principle</td>
                                <td><input type="radio" name="package" id="id_package_28" value="Beads" style="width: 100%" ></td>

                            </tr>

                            <tr style="font-size: 12px;">
                                <td>Beryl</td>

                                <td>$1001.00 - $10000.00</td>

                                <td> 1500%</td>

                                <td>No principle</td>
                                <td><input type="radio" name="package" id="id_package_29" value="Beryl" style="width: 100%"></td>

                            </tr>
                            <tr style="font-size: 12px;">
                                <td>Azuriite with Malanche</td>

                                <td>$10001.00 - $50000.00</td>

                                <td> 2000%</td>

                                <td>No principle</td>
                                <td><input type="radio" name="package" id="id_package_30" value="Azuriite with Malanche" style="width: 100%" ></td>

                            </tr>
                            </tbody>
                            </table>

                    </div>

        </div>
    </div>
</div>







{% if form.non_field_errors %}
<div style="font-size: 12px;" class="alert alert-danger alert-dismissible text-center" role="alert"><button type="button" class="close pull-right" data-dismiss="alert" aria-label="Close"  ><span aria-hidden="true">&times;</span></button>Sorry dear {{ user.first_name }},{{ form.non_field_errors }}</div>
{% else %}
{% endif %}
{{ form.package.errors }}

<div class="fieldWrapper" >
    {{ form.user.errors }}
    <center><input type="hidden" name="user" maxlength="125" class="textinput textInput form-control " required="" id="id_user" value="{{ user }} "></center>
</div>

<div class="fieldWrapper" >
    {{ form.username.errors }}
    <center><input type="hidden" name="username" maxlength="125" class="textinput textInput form-control " required="" id="id_username" value= "{{ user.userinfo }}"></center>
</div>


<div class="fieldWrapper" >
    {{ form.processor.errors }}
    <center><input type="hidden" name="processor" maxlength="125" class="textinput textInput form-control" required="" id="id_processor" value= "Perfect Money"></center>
</div>

<div class="table-responsive col-sm-5 col-sm-offset-3">

{#<input type="hidden" name="pid" value="3D9CTHV7598IDJDXJR1I50AK5MNBFXHY">#}
{#<input type="hidden" name="PAYEE_ACCOUNT" value="U10315576">#}
{#<input type="hidden" name="PAYEE_NAME" value="hourpay.net">#}
{#<input type="hidden" name="PAYMENT_ID" value="">#}
{##}
{#<input type="text" name="PAYMENT_AMOUNT" maxlength="35" class="textinput textInput  form-control" value="{{ form.payment_amount }}" id="id_PAYMENT_AMOUNT" placeholder="perfect money amount">#}
{#<div class="fieldWrapper" style="padding-bottom: 3%; ">#}
{#{{ form.PAYMENT_AMOUNT.errors }}#}
{#{{ form.PAYMENT_AMOUNT }}#}
{#</div>#}
{#<div class="fieldWrapper" style="padding-bottom: 3%; ">#}
{#<input style="width:50%; margin-left:25%" type="submit" value="process">#}
{#</div>#}
{#<input type="hidden" name="PAYMENT_UNITS" value="USD">#}
{#<input type="hidden" name="SUGGESTED_MEMO" value="Deposit to HOUR PAY LIMITED|Best Bitcoin Investment User lewicpro">#}
{#<input type="hidden" name="STATUS_URL" value="https://hourpay.net/index.php/status/postback/18/">#}
{#<input type="hidden" name="PAYMENT_URL" value="https://hourpay.net/?a=return_egold&process=yes">#}
{#<input type="hidden" name="PAYMENT_URL_METHOD" value="POST">#}
{#<input type="hidden" name="NOPAYMENT_URL" value="https://hourpay.net/?a=return_egold&process=no">#}
{#<input type="hidden" name="NOPAYMENT_URL_METHOD" value="POST">#}
{#<input type="hidden" name="BAGGAGE_FIELDS" value="pid">#}




    <input type="hidden" name="PAYEE_ACCOUNT" value="U16144496">
    <input type="hidden" name="PAYEE_NAME" value="XAMPESA LIMITED">
    <div class="fieldWrapper" style="padding-bottom: 3%; ">
    {{ form.PAYMENT_AMOUNT.errors }}
    {{ form.PAYMENT_AMOUNT }}
    </div>
    <input type="hidden" name="PAYMENT_UNITS" value="USD">



    <input type="hidden" name="STATUS_URL" value="https://xampesa.com/Wallet/">
    <input type="hidden" name="PAYMENT_URL" value="https://xampesa.com/account/">
    <input type="hidden" name="NOPAYMENT_URL" value="https://xampesa.com/account_type/">
    <input type="hidden" name="PAYMENT_ID" placeholder="payment id" value="pid">
    <input style="width: 40%;" class="center-block"  type="submit" name="PAYMENT_METHOD" value="Submit">

</div>



