{% extends 'authorized.html'%}

{% block faqbody %}
    <div class="row"  style="max-height: 526px; overflow: scroll;">
    <div class="col-md-9">
        <h2 class="text-center">FAQ</h2>
        <div class="text-center" style=" padding: 0.5%; font-size: 30px; font-weight: 500; font-family: 'Open Sans', sans-serif;">

            <h4 class="text-center ">FREQUENTLY ASKED QUESTIONS</h4>

        </div>
                <div class="panel-group" id="accordion" style="padding-top: 15px;">
                    <div class="panel panel-default">
                        <div class="panel-heading" style="background-color: #ffffff;">
                            <h4 class="panel-title">
                                <p class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" style="font-size: 12px; font-weight: 400; cursor:pointer">Can I withdraw the principal amount in advance? </p>
                            </h4>
                        </div>
                        <div id="collapseOne" class="panel-collapse collapse">
                            <div class="panel-body" style="background-image:url(../static/image/background.jpg);">
                            Yes, you can back your principal amount anytime you wish. Deposits with included compound interest, early closure is impossible. Detailed information is presented in your profile.                             </div>
                        </div>
                    </div>
                    <!-- /.panel -->
                    <div class="panel panel-default">
                        <div class="panel-heading" style="background-color: #ffffff;">
                            <h4 class="panel-title">
                                <p class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" style="font-size: 12px; font-weight: 400; cursor:pointer">After I submit a request to withdraw interest from my account, how long will take it for the amount to reach my account?</p>
                            </h4>
                        </div>
                        <div id="collapseTwo" class="panel-collapse collapse">
                            <div class="panel-body" style="background-image:url(../static/image/background.jpg)">
                            There are 2 withdrawal options. With normal withdrawals, you`ll get your funds in your account within the next 24 hours. With fast withdrawals, you`ll have funds in your account within the next 60 minutes. Please note that fast withdrawals are only available to groups.                            </div>
                        </div>
                    </div>
                    <!-- /.panel -->
                    <div class="panel panel-default">
                        <div class="panel-heading" style="background-color: #ffffff;">
                            <h4 class="panel-title">
                                <p class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" style="font-size: 12px; font-weight: 400; cursor:pointer"> Are there any additional incentives in being your regional representative? </p>
                            </h4>
                        </div>
                        <div id="collapseThree" class="panel-collapse collapse">
                            <div class="panel-body" style="background-image:url(../static/image/background.jpg)">
                                First of all, as a regional representative you will be able to create a group that can invest under the Private investment plan. The minimum amount under this plan is $100,000.00 and all the conditions are negotiated on an individual basis. In addition to that, all regional representatives will be invited to take part in our annual meetings in Vienna and Monte Carlo, all travel and accommodation costs will be covered by us. Regional representative will be able to personally participate in the development of new investment options for his/her group.                             </div>
                        </div>
                    </div>
                    <!-- /.panel -->
                    <div class="panel panel-default">
                        <div class="panel-heading" style="background-color: #ffffff;">
                            <h4 class="panel-title">
                                <p class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" style="font-size: 12px; font-weight: 400; cursor:pointer">Can I change my Advanced Cash, Perfect Money, Bitcoin or Payeer account number?</p>
                            </h4>
                        </div>
                        <div id="collapseFour" class="panel-collapse collapse">
                            <div class="panel-body" style="background-image:url(../static/image/background.jpg)">
                            Yes, you can change your Advanced Cash, Perfect Money, Bitcoin or Payeer account number through the appropriate settings within your account.</div>
                        </div>
                    </div>
                    <!-- /.panel -->
                    <div class="panel panel-default">
                        <div class="panel-heading" style="background-color: #ffffff;">
                            <h4 class="panel-title">
                                <p class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseFive" style="font-size: 12px; font-weight: 400; cursor:pointer">Can I represent you in my area? </p>
                            </h4>
                        </div>
                        <div id="collapseFive" class="panel-collapse collapse">
                            <div class="panel-body" style="background-image:url(../static/image/background.jpg)">
                            Everyone can apply to become our regional representative. Please request for representative section by entering your details and the admin will pass through your request                             </div>
                        </div>
                    </div>
                    <!-- /.panel -->
                    <div class="panel panel-default">
                        <div class="panel-heading" style="background-color: #ffffff;">
                            <h4 class="panel-title">
                                <p class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseSix" style="font-size: 12px; font-weight: 400; cursor:pointer">Can I change the password to my account? How can I do it? </p>
                            </h4>
                        </div>
                        <div id="collapseSix" class="panel-collapse collapse">
                            <div class="panel-body" style="background-image:url(../static/image/background.jpg)">
                            You can do this at any time. To change the account password, you need to choose forgot password and we'll send you  confirmation email and you will be able to change your password.                           </div>
                        </div>
                    </div>
                    <!-- /.panel -->
                    <div class="panel panel-default">
                        <div class="panel-heading" style="background-color: #ffffff;">
                            <h4 class="panel-title">
                                <p class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseSeven" style="font-size: 12px; font-weight: 400; cursor:pointer">Can I make additional investments in my account? </p>
                            </h4>
                        </div>
                        <div id="collapseSeven" class="panel-collapse collapse">
                            <div class="panel-body" style="background-image:url(../static/image/background.jpg)">
                            Yes, you can do that.                            </div>
                        </div>
                    </div>
                    <!-- /.panel -->
                    <div class="panel panel-default">
                        <div class="panel-heading" style="background-color: #ffffff;">
                            <h4 class="panel-title">
                                <p class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseEight" style="font-size: 12px; font-weight: 400; cursor:pointer">Who does manage the company and control the money?</p>
                            </h4>
                        </div>
                        <div id="collapseEight" class="panel-collapse collapse">
                            <div class="panel-body" style="background-image:url(../static/image/background.jpg)">
                            The company is managed by experienced financial experts who have a great deal of different project investing experience all over the world. Your money is invested into the perspective investment projects due to we guarantee stable interest charge.                             </div>
                        </div>
                    </div>
                    <!-- /.panel -->
                    <div class="panel panel-default">
                        <div class="panel-heading" style="background-color: #ffffff;">
                            <h4 class="panel-title">
                                <p class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseNine" style="font-size: 12px; font-weight: 400; cursor:pointer ">How can I invest with you and start earning money?</p>
                            </h4>
                        </div>
                        <div id="collapseNine" class="panel-collapse collapse">
                            <div class="panel-body" style="background-image:url(../static/image/background.jpg)">
<p>First of all you need to open an account on our website.</p> <p>After that, you need to choose the payment method. We accept payments via Advanced Cash, Perfect Money, Bitcoin, Payeer, Ethereum; Bitcoin cash; Litecoin; Dash; Perfect money Bitcoin and Bank Wire Transfer.</p>  <p>To open an account with Advanced Cash, you need to go to www.advcash.com and open an account there. It will take you not more than a few minutes.</p>  <p>To open an account with Perfect Money, you need to go to www.perfectmoney.is and open an account there. The registration process is also very quick and easy.</p>  <p>To open an account with Payeer, you need to go to www.payeer.com and open an account there. The registration process is also very quick and easy.</p>  <p>After that you need to put your money into your Perfect Money, Bitcoin, Payeer, or Perfect money Bitcoin account and then make a deposit into your Xampesa account.</p>  <p></p>                           </div>
                        </div>
                    </div>
                    <!-- /.panel -->
                </div>
                <!-- /.panel-group -->
            </div>


        <div class="col-md-3" style="background-image:url(../static/image/background.jpg)">
        <div>

                        <h2 class="text-center" style="font-weight: 300;"> Purpose</h2>

                        <h4 class="text-center "></h4>
                <div class="divider">
                        <p>XampesA Company idea was founded by JOHN  SCOTT  and officially registered in France in Dec 2017. Previously several years we as company provided lucrative investment services and lessons to private clients in France we have honed our knowledge of how to do business with a small attracted capital. Within that period, we have formed our own system trading strategy in different plans with the elements of high financial security. The main goal of our work is the safety of funds, and any one who following our task is able to make high profits by joining at XampesA due to facilities and algorithm used to interact several businesses into one processor.</p></b>

                        <p>The most promising area of profitable activity  at xampesa is the system(company) works for you and you only need to invest or work with it in any way and obtain capital from it and receive your commission according to the plans level as a member and we make sure you reach to your expectations without failure and we tried to make it user friendly and simple anyone can do it.</p>


                </div>
            </div>
    </div>
    </div>

{% endblock %}