{% extends 'authorized.html' %}
{% block plans %}


<div class="row" style=" box-shadow: 10px 10px 10px #999">

<div class="table-responsive" style="max-height: 526px; overflow: scroll;">
<div class="text-center" style="padding-top: 50px; padding-bottom: 10px;">Daily profit for 30 days (Principle return)</div>
<div class="container">
    <table class="table table-responsive">
    <tbody>
    <tr style="font-size: 15px;">
        <th>Plan</th>
        <th>Amount to spend</th>
        <th>Profit ( % )</th>
        <th>Principle</th>

    </tr>
    <tr style="font-size: 12px;">
        <td>Silver</td>

        <td>$10 - $300</td>

        <td> 1.0% </td>

        <td>100% Back</td>

    </tr>

    <tr style="font-size: 12px;">
        <td>Tarnish</td>

        <td>$5001.00 - $10000.00</td>

        <td> 4%</td>

        <td>100% Back</td>

    </tr>
    <tr style="font-size: 12px;">
        <td>Charoite</td>

        <td>$10001.00 - $50000.00</td>

        <td> 6%</td>

        <td>100% Back</td>

    </tr>
    </tbody>
    </table>

<div class="text-center" style="padding-top: 50px; padding-bottom: 10px;">Daily profit for 2 months (Principle return)</div>
    <table class="table table-responsive">
    <tbody>
    <tr style="font-size: 15px;">
        <th>Plan</th>
        <th>Amount to spend</th>
        <th>Profit ( % )</th>
        <th>Principle</th>

    </tr>
    <tr style="font-size: 12px;">
        <td>TANZANITE</td>

        <td>$10 - $300</td>

        <td> 0.8% </td>

        <td>100% Back</td>

    </tr>

    <tr style="font-size: 12px;">
        <td>Karat</td>

        <td>$5001.00 - $10000.00</td>

        <td> 2.8%</td>

        <td>100% Back</td>

    </tr>
    <tr style="font-size: 12px;">
        <td>Corundum</td>

        <td>$10001.00 - $50000.00</td>

        <td> 3.2%</td>

        <td>100% Back</td>

    </tr>
    </tbody>
    </table>



<div class="text-center" style="padding-top: 50px; padding-bottom: 10px;">Daily profit for 3 months (Principle return)</div>
    <table class="table table-responsive">
    <tbody>
    <tr style="font-size: 15px;">
        <th>Plan</th>
        <th>Amount to spend</th>
        <th>Profit ( % )</th>
        <th>Principle</th>

    </tr>
    <tr style="font-size: 12px;">
        <td>TITANIUM</td>

        <td>$2000 - $30000</td>

        <td> 1.1% </td>

        <td>100% Back</td>

    </tr>

    <tr style="font-size: 12px;">
        <td>Niello</td>

        <td>$1001.00 - $10000.00</td>

        <td> 2.2%</td>

        <td>100% Back</td>

    </tr>
    <tr style="font-size: 12px;">
        <td>Zircorn</td>

        <td>$20001.00 - $50000.00</td>

        <td> 3%</td>

        <td>100% Back</td>

    </tr>
    </tbody>
    </table>


<div class="text-center" style="padding-top: 50px; padding-bottom: 10px;">Daily profit for 3 months and 10 days (Principle return)</div>
    <table class="table table-responsive">
    <tbody>
    <tr style="font-size: 15px;">
        <th>Plan</th>
        <th>Amount to spend</th>
        <th>Profit ( % )</th>
        <th>Principle</th>

    </tr>
    <tr style="font-size: 12px;">
        <td>DIAMOND</td>

        <td>$70 - $1000</td>

        <td> 0.8% </td>

        <td>100% Back</td>

    </tr>

    <tr style="font-size: 12px;">
        <td>Quartz</td>

        <td>$1001.00 - $10000.00</td>

        <td> 2.8%</td>

        <td>100% Back</td>

    </tr>
    <tr style="font-size: 12px;">
        <td>Carbon</td>

        <td>$10001.00 - $50000.00</td>

        <td> 3%</td>

        <td>100% Back</td>

    </tr>
    </tbody>
    </table>

<div class="text-center" style="padding-top: 50px; padding-bottom: 10px;">Daily profit for 4 months and 5 days (Principle return)</div>
    <table class="table table-responsive">
    <tbody>
    <tr style="font-size: 15px;">
        <th>Plan</th>
        <th>Amount to spend</th>
        <th>Profit ( % )</th>
        <th>Principle</th>

    </tr>
    <tr style="font-size: 12px;">
        <td>GOLD</td>

        <td>$350 - $900</td>

        <td> 1.4% </td>

        <td>100% Back</td>

    </tr>

    <tr style="font-size: 12px;">
        <td>Platnum</td>

        <td>$1001.00 - $10000.00</td>

        <td> 2.8%</td>

        <td>100% Back</td>

    </tr>
    <tr style="font-size: 12px;">
        <td>Pearl</td>

        <td>$10001.00 - $50000.00</td>

        <td> 3%</td>

        <td>100% Back</td>

    </tr>
    </tbody>
    </table>
</div>
<div class="text-center container" style="padding: 5px; background-color: darkblue; color: white; font-weight: 400;">AFTER PLANS</div>
<div style="padding-top: 20px;" ></div>


<div class="text-center" style="padding-top: 50px; padding-bottom: 10px;">After 5 days</div>
    <div class="container">
    <table class="table table-responsive">
    <tbody>
    <tr style="font-size: 15px;">
        <th>Plan</th>
        <th>Amount to spend</th>
        <th>Profit ( % )</th>
        <th>Principle</th>

    </tr>
    <tr style="font-size: 12px;">
        <td>Copper</td>

        <td>$10.00 - $500.00</td>

        <td> 125% </td>

        <td>No principle</td>

    </tr>

    <tr style="font-size: 12px;">
        <td>Lapls</td>

        <td>$501.00 - $1000.00</td>

        <td> 135%</td>

        <td>No principle</td>

    </tr>
    <tr style="font-size: 12px;">
        <td>Emerald</td>

        <td>$1001.00 - $3000.00</td>

        <td> 150%</td>

        <td>No principle</td>

    </tr>
    </tbody>
    </table>

<div class="text-center" style="padding-top: 50px; padding-bottom: 10px;">After 7 days</div>
    <table class="table table-responsive">
    <tbody>
    <tr style="font-size: 15px;">
        <th>Plan</th>
        <th>Amount to spend</th>
        <th>Profit ( % )</th>
        <th>Principle</th>

    </tr>
    <tr style="font-size: 12px;">
        <td>Iron</td>

        <td>$10.00 - $500.00</td>

        <td> 150%</td>

        <td>No principle</td>

    </tr>

    <tr style="font-size: 12px;">
        <td>Glass</td>

        <td>$501.00 - $1000.00</td>

        <td> 170%</td>

        <td>No principle</td>

    </tr>
    <tr style="font-size: 12px;">
        <td>Moisanite</td>

        <td>$1001.00 - $3000.00</td>

        <td> 200%</td>

        <td>No principle</td>

    </tr>
    </tbody>
    </table>
    </div>
<div class="text-center" style="padding-top: 50px; padding-bottom: 10px;">After 15 days</div>

<div class="container">
    <table class="table table-responsive  ">
    <tbody class="">
    <tr class="" style="font-size: 15px;">
        <th>Plan</th>
        <th>Amount to spend</th>
        <th>Profit ( % )</th>
        <th>Principle</th>

    </tr>
    <tr class="" style="font-size: 12px;">
        <td>Calcite</td>

        <td>$10.00 - $500.00</td>

        <td> 250% </td>

        <td>No principle</td>

    </tr>

    <tr style="font-size: 12px;">
        <td>Sapphire</td>

        <td>$501.00 - $1000.00</td>

        <td> 300%</td>

        <td>No principle</td>

    </tr>
    <tr style="font-size: 12px;">
        <td>Ruby</td>

        <td>$$1001.00 - $3000.00</td>

        <td> 385%</td>

        <td>No principle</td>

    </tr>
    </tbody>
    </table>

<div class="text-center" style="padding-top: 50px; padding-bottom: 10px;">After 30 days</div>
    <table class="table table-responsive">
    <tbody>
    <tr style="font-size: 15px;">
        <th>Plan1</th>
        <th>Amount to spend</th>
        <th>Profit ( % )</th>
        <th>Principle</th>

    </tr>
    <tr style="font-size: 12px;">
        <td>Amber</td>

        <td>$1001.00 - $3000.00</td>

        <td> 700% </td>

        <td>No principle</td>

    </tr>

    <tr style="font-size: 12px;">
        <td>Agate</td>

        <td>$5001.00 - $10000.00</td>

        <td> 1200%</td>

        <td>No principle</td>

    </tr>
    <tr style="font-size: 12px;">
        <td>Amazonnile</td>

        <td>$10001.00 - $50000.00</td>

        <td> 1700%</td>

        <td>No principle</td>

    </tr>
    </tbody>
    </table>



<div class="text-center" style="padding-top: 50px; padding-bottom: 10px;">After 50 days</div>
    <table class="table table-responsive">
    <tbody>
    <tr style="font-size: 15px;">
        <th>Plan</th>
        <th>Amount to spend</th>
        <th>Profit ( % )</th>
        <th>Principle</th>

    </tr>
    <tr style="font-size: 12px;">
        <td>Beads</td>

        <td>$10.00 - $5000.00</td>

        <td> 1200%</td>

        <td>No principle</td>

    </tr>

    <tr style="font-size: 12px;">
        <td>Beryl</td>

        <td>$5001.00 - $10000.00</td>

        <td> 1500%</td>

        <td>No principle</td>

    </tr>
    <tr style="font-size: 12px;">
        <td>Azuriite with Malanche</td>

        <td>$10001.00 - $50000.00</td>

        <td> 2000%</td>

        <td>No principle</td>

    </tr>
    </tbody>
    </table>

</div>


{#        <div class="text-center">#}
{#            <div class="pagination" >#}
{#                <span class="step-links text-center">#}
{#                    {% if query.has_previous %}#}
{#                        <a href="?page={{ query.previous_page_number }}">previous</a>#}
{#                    {% endif %}#}
{##}
{#                    <span class="current">#}
{#                        Page {{ query.number }} of {{ query.paginator.num_pages }}.#}
{#                    </span>#}
{##}
{#                    {% if query.has_next %}#}
{#                        <a href="?page={{ query.next_page_number }}">next</a>#}
{#                    {% endif %}#}
{#                </span>#}
{#            </div>#}
{#        </div>#}
{##}
{#    </div>#}

</div>
</div>
{% endblock %}