{% extends "layout.html" %}
{% block content %}
<div class="watre" style="background-image:url(../static/image/modified.jpg)">
    <div class="container" >
    
    <div class="jumbotron text-center">
 <h2> PROFESSIONAL TRADING COMPANY IN THE WORLD</h2>
        <p><h4 style="font-weight: 300; color: #666">We have witnessed market saturation of income opportunities on internet worldwide.Most of them failed to deliver the promised and some managed to sustain for longer than expected.Our consultancy group bring in the experience of stable program that will be here for long term, and our aim is to bring long term financial benefit to the market in the World.</h4></p>
        {% if user.is_authenticated %}

           <a href="{% url 'app:logout' %}" type="button" class="btn btn-default btn-sm buttonStyle" style="background: rgba(255,255,255,0.0);" >Logout</a>

        {% else %}
        <a href="/register" type="button" class="btn btn-primary" >Register</a>
         <a href="/login" type="button" class="btn btn-primary">Login</a>
        {%  endif %}
            
        <h1 class="text-center">{{msg}}</h1>
        </div>
        </div>
        </div>
<div style="background-image:url(../static/image/footer_lodyas.png); padding-top:60px; padding-left:5px;">
    
{% block head %}
{% endblock %}
    </div>
{% block bob %}
{% endblock %}
{% block test %}
{% endblock %}


{% endblock %}
