
{% extends 'authorized.html' %}
{% block resetdone %}







    <div class="row" style="max-height: 526px; overflow: scroll;" >
        <div class="col-md-9"   style="padding-left: 20px;">
                <div class="container-fluid">

                    <h3 class="text-center">Password Reset Email Sent</h3>
                        <div class="divider" >
                            <p class="text-center">We've emailed you instructions for setting your password, if an account exists with the email you entered. You should receive them shortly.</p>

                            <p class="text-center">If you don't receive an email, please make sure you've entered the address you registered with, and check your spam folder.</p>

                        </div>
                </div>
        </div>


        <div class="col-md-3"  style="min-height: 526px;overflow: scroll; padding-left: 20px; max-height: 450px; background-image:url(../static/image/background.jpg)">
            <div >

                        <h2 class="text-center" style="font-weight: 300;"> Attention</h2>

                        <h4 class="text-center "></h4>
                <div class="divider">
                        <p >This is delicate and secured account so you are advised to remember all your details, as we authenticate you into this account you should note down your information into a secured place avoiding forgeting </p></b>

                        <p>Xampesa is a long term and profitable investment program, backed up by market trading, Work opertunities(hiring), and investing in various funds and activities. Profits from these investments are used to enhance our program and increase its stability for the long term.</p>

                        <p>Our main goal is to create and maintain a safe and prosperous Trading environment. We are able to provide long-lasting and mutually beneficial business relations with all our customers.</p>

                        <p>Investing in Xampesa your money is going to be a total balance and invest to different projects afterwards. After investing into the different projects our company receives dividends and you make a profit on deposits. Due to the long-term experience financial company cash flows is considerable so you get a profit daily without any delay.</p>
                </div>
            </div>

        </div>


    </div>
{% endblock %}