{% extends "authorisedcarier.html" %}
{% load crispy_forms_tags %}
{% load staticfiles %}

{% block selecttype %}
<div style="background-image:url({% static 'image/city.jpg' %})">
    <div class="text-center" style="background-color:silver; padding: 0.5%; font-size: 19px; font-family: 'Open Sans', sans-serif;">

           MAKE DEPOSIT

    </div>
    <div class="text-center">
    <h5 style="color:darksalmon">{{ title }}</h5>
    </div>
</div>
    <div class=" container-fluid " style="content: 'center';"  >
   <div class="panel panel-default">
       <div class="panel-heading">
           <h3 class="panel-title text-center">{wtwtetyetreyruy</h3>
       </div>
       kjkn,,kjhbnkjhbhj
   </div>
</div>
{% endblock %}