{% extends 'authorized.html'%}
{% block conent %}


    <div class="row" style="max-height: 526px; overflow: scroll;" >
        
           
                
        <div class="col-md-9">
						<h2 class="title text-center">Terms and Conditions</h2>
						
						<ul>
							<li>
							1.0 MAKUBALIANO
							<ul>
							<li>
							A. Makubaliano haya ambayo yamewekwa hapa ni kwa  ajili ya uthibitisho wa kimkataba ambao unakuwa unaweka makubaliano baina ya mwanachama na XampesA ambayo imesajiliwa kwa kulingana na  'THE CIVIL SOCIETIES ORGANIZATIONS ACT, 2002'.
							</li>
							<li>
							B. Makubaliano haya yanaanza kufanya pale tu mwanachama anapokuwa amekubaliana nayo na kukubali kujisajili.
							</li>
							</ul>
							</li>
							<li>
							2.0  MUKTADHA WA XAMPESA
							<ul>
							<li>
							Huu ni mfumo wa kuchangishana fedha kwa njia ya kimtandao baina ya wanachama wa mfumo huu kuwezeshana na kufia malengo. Vigezo hivi vimepitishwa kwa kauli moja na wanachama waanzilishi na kila mwanachama atakayejiunga na mfumo huu, atawajibikia kusoma vigezo na masharti  kuvielewa na kuvitetea.
							</li>
							</ul>
							</li>
							<li>
							3.0 TARATIBU ZA MFUMO HUU
							<ul>
							<li>
							A. Kuwashirikisha watu wengi zaidi kuingia katika mfumo huu na kuweza kuwafikia watu wengi zaidi ili kuinua uchumi wa mwanajamii mmoja mmoja.
							</li>
							<li>
							B. Wanachama washiriki watajiunga kwa kujisajili katika mtandao (online registration) baada ya kukubaliana na vigezo na masharti ambavyo vimeainishwa katika mtandao wetu kabla ya kukubali usajili.
							</li>
							<li>
							C. Mwanachama atakayetaka kujiunga ni lazima awe amesoma maelezo yote kwa makini na kuyaelewa ili kuepuka kutoelewana.
							</li>
							<li>
							D. Uongozi wa mfumo hautahusika kwa lolote juu ya usajili wa mwanachama baada ya kutoa elimu ya jinsi ya kujiunga.
							</li>
							<li>
							E. Isipokuwa kwa wanachama waanzilishi wa mfumo huu ambao kwa kutia saini katiba yetu tayari walishafahamu malengo ya mfumo huu, mtu yeyote mwenye umri kuanzia miaka 18 na kuendelea anayeamini kwa akili zake  timamu amesoma vigezo na masharti kwa ufasaha na kuelewa XampesA ni nini, Anaweza kujiunga na mfumo huu.
							</li>
							<li>
							F. Mwanachama anatakiwa kujua mfumo unaendeshwa kwa mtandao hivyo tatizo lote la kimtandao litakalotokea tunaomba awe mvumilivu.
							</li>
							</ul>
							</li>
							<li>
							4.0 MASHARTI
							<ul>
							<li>
							A. KIINGILIO: Kila mwanachama anatakiwa kuanza katika daraja la kwanza ambapo atachangia shilling elfu tano (TZS 5000/=) na hatatakiwa kuacha katikati ya Daraja la mfumo.
							</li>
							<li>
							B. Mwanachama ambae hatakuwa active ndani ya miezi sita atakuwa amejitoa rasmi katika mfumo huu.
							</li>
							<li>
							C. Malipo ya kuchangia katika huu mfumo yatafanywa katika mtindo wa malipo ya kimtandao yaani M-PESA, TIGOPESA na AIRTELMONEY , na gharama za makato ya kawaida zitatozwa kulingana na mtandao husika.
							</li>
							<li>
							D. Mwanachama akishajisajili anashauriwa kutotoa namba ya siri ya akaunti yake kwa ajili ya usalama wa uendeshaji wa akaunti za wanachama.
							</li>
							<li>
							E.  Hakuna mda muafaka wa mwanachama kupanda daraja hivyo inategemea kasi ya watu wanaojiunga katika mfumo wa XampesA. 
							</li>
							<li>
							F.  Ikiwa imetokea watu wamesimama kabisa kujiunga au ikacollapse kutokana na sababu zozote zilizo nje ya uwezo wetu basi itakubidi uwe umekubali kumchangia mwanajumuia mwenzako tsh. 5000/=
							</li>
							</ul>
							</li>
							<li>
							5.0 FOMU YA KUJISAJILI.
							<ul>
							<li>
							Fomu ya usajili kwa mwanachama itakuwa moja kwa moja katika mtandao wetu wa intanenti kwa mwanachama yeyote kuweza kujiunga na fomu hii, haitauzwa itakuwa ni bure kabisa.
							</li>
							</ul>
							</li>
							<li>
							6.0 MENGINEYO
							<ul>
							<li>
							A. Wanachama wanatakiwa kupitia kwa umakini VIGEZO na MASHARTI haya..
							</li>
							<li>
							B. Tunapenda kukumbusha kuwa katika kikundi hiki hakuna mtu mwenye hisa kupita wenzake kwani fedha ya mwanzo itakayochangwa na mwanachama, hataongeza hela nyingine yoyote, Hivyo hatutugemei malalamiko ya mtu kujiona yupo juu zaidi ya mwenzie.
							</li>
							<li>
							C. Hakuna mwanachama atakayejiunga kwa zaidi ya TZS 5000/=
							</li>
							<li>
							D. Kwanini tunatunza pesa za wanachama wa XampesA? Ili kuweza kuufanya mfumo uwe na mzunguko kwamba kila mtu amchangie mwenzake ili asiwepo mtu wa kuishia katikati ya level ili kuweza kumsaidia mwanachama aliechangia na anaesubiria kuchangiwa kuweza kuchangiwa sawa sawa. 
							</li>
							<li>
							E. Walioanzisha XampesA wanapata faida gani? XampesA inapata Uwezesho wa kampuni pale tu wanapo fanikiwa kumtoa member stage mbili za mwisho (Gold and Platnum) . 
							</li>
							</ul>
							</li>
						</ul>
        </div>



        <div class="col-md-3" style="background-image:url(../static/image/background.jpg)">
            <h2 class="text-center" style="font-weight: 300;"> Purpose</h2>

                        <h4 class="text-center "></h4>
                        <div class="divider">
                                <p>XampesA Company idea was founded by JOHN  SCOTT  and officially registered in France in Dec 2017. Previously several years we as company provided lucrative investment services and lessons to private clients in France we have honed our knowledge of how to do business with a small attracted capital. Within that period, we have formed our own system trading strategy in different plans with the elements of high financial security. The main goal of our work is the safety of funds, and any one who following our task is able to make high profits by joining at XampesA due to facilities and algorithm used to interact several businesses into one processor.</p></b>

                                <p>The most promising area of profitable activity  at xampesa is the system(company) works for you and you only need to invest or work with it in any way and obtain capital from it and receive your commission according to the plans level as a member and we make sure you reach to your expectations without failure and we tried to make it user friendly and simple anyone can do it.</p>

                                <p>we clinch to establish a business plan to span the business around The world, reaching a new stage of development, with conclusion that XampesA capital trading is necessary for us, which can help us with more competitively and effectively performing to our local business with small initial capital at the beginning </p>

                                <p>Our goal is to strengthen local sector also provide competitive in the world market by attract with connection resources which accepts funds of participants and investors to working constantly, by bringing everyone to the stable income and a welfare.</p>
                        </div>
        </div>


        </div>
{% endblock %}