{% extends "authorisedcarier.html" %}
{% load crispy_forms_filters %}
{% block wallet %}
    <div class="text-center" style="background-color:#777; font-weight: 300; color: white; padding: 0.5%; font-size: 19px; font-family: 'Open Sans', sans-serif;">

            DEPOSIT BY PERFECT MONEY

    </div>
    <form class="form-horizontal" action="https://perfectmoney.is/api/step1.asp" method="post" >{% csrf_token %}
{#        {{ form|crispy }}#}
    {% include "depositingTemplate.html" %}

    </form>
{% endblock %}