{{ form.non_field_errors }}



<div class="fieldWrapper">
    {{ form.prod_id.errors }}
    <center><input type="hidden" name="prod_id" maxlength="120" class="textinput textInput form-control form-control-danger" required="" id="id_prod_id" value= "{{ products.id }}"></center>
</div>


<div class="fieldWrapper">
    {{ form.username.errors }}
    <center><input type="hidden" name="username" maxlength="120" class="textinput textInput form-control form-control-danger" required="" id="id_username" value= "{{ user.userinfo }}"></center>
</div>


<div class="fieldWrapper">
    {{ form.category.errors }}
    <center><input type="hidden" name="category" maxlength="120" class="textinput textInput form-control form-control-danger" required="" id="id_category" value= "{{ products.category }}"></center>
</div>


<div class="fieldWrapper" >
    {{ form.title.errors }}
    <center><input type="hidden" name="title" maxlength="120" class="textinput textInput form-control " required="" id="id_title" value= "{{ products.title }}"></center>
</div>



<div class="fieldWrapper" >
    {{ form.currency.errors }}
    <center><input type="hidden" name="currency" maxlength="5" class="textinput textInput form-control form-control-danger" required="" id="id_currency" value= "{{ products.currency }}"></center>
</div>


<div class="fieldWrapper" >
    {{ form.Price.errors }}
    <center><input type="hidden" name="Price" maxlength="12" class="textinput textInput form-control form-control-danger" required="" id="id_Price" value= "{{ products.Price }}"></center>
</div>


<div class="fieldWrapper" >
    {{ form.Price_sold.errors }}
    <center><input type="hidden" name="Price_sold" maxlength="12" class="textinput textInput form-control form-control-danger" required="" id="id_Price_sold" value= "{{ products.Price_sold }}"></center>
</div>


<div class="fieldWrapper" >
    {{ form.condition.errors }}
    <center><input type="hidden" name="condition" maxlength="120" class="textinput textInput form-control " required="" id="id_condition" value= "{{ products.condition }}"></center>
</div>

<div class="fieldWrapper" >
    {{ form.color.errors }}
    <center><input type="hidden" name="color" maxlength="120" class="textinput textInput form-control form-control-danger" required="" id="id_color" value= "{{ products.color }}"></center>
</div>


<div class="fieldWrapper">
    {{ form.image.errors }}
    <center><input type="hidden" name="image"   required="" id="id_image" value= "{{ products.image }}"></center>

</div>



<div class="fieldWrapper" >
    {{ form.image1.errors }}
    <center><input type="hidden" name="image1"   required="" id="id_image1" value= "{{ products.image1 }}"></center>

</div>


<div class="fieldWrapper" >
    {{ form.image2.errors }}
    <center><input type="hidden" name="image2"   required="" id="id_image2" value= "{{ products.image2 }}"></center>
</div>



<div class="fieldWrapper" >
    {{ form.image3.errors }}
    <center><input type="hidden" name="image3"  required="" id="id_image3" value= "{{ products.image3 }}"></center>
</div>


<div class="fieldWrapper" >
    {{ form.image4.errors }}
    <center><input type="hidden" name="image4" required="" id="id_image4" value= "{{ products.image4 }}"></center>
</div>


<div class="fieldWrapper" >
    {{ form.image5.errors }}
    <center><input type="hidden" name="image5"   required="" id="id_image5" value= "{{ products.image5 }}"></center>
</div>


<div class="fieldWrapper" >
    {{ form.description.errors }}
    <center><input type="hidden" name="description"  maxlength="400" class="textinput textInput form-control " required="" id="id_description" value= "{{ products.description }}"></center>
</div>


<div class="fieldWrapper" >
    {{ form.Receive_acc.errors }}
    <center><input type="hidden" name="Receive_acc" maxlength="120" class="textinput textInput form-control " required="" id="id_Receive_acc" value= "{{ products.Receive_acc }}"></center>
</div>
