{% extends "home.html" %}
{% load crispy_forms_tags %}
{% load staticfiles %}


{% block conditions %}
    <div class="container-fluid table-bordered" style="padding-bottom: 3%">
    <div class="text-center" style=" height: 350px; overflow: scroll;" >

    <h3>Return Policy</h3>
        <p>
            We want you to be fully satisfied with every item you purchase from Market. If you are not happy with any of our products for any reason, we’ll gladly refund your money within 15 days of purchase.
        </p>
    <h3>Online Returns</h3>
        <p>
            If you're not satisfied with your purchase, most items may be returned by mail or at any of our Xamarket store locations in original condition within 15 days of purchase. Returns will be refunded in the same form of tender as the original transaction. If you wish to return by mail outside of the 15-day policy for any reason, please contact World Market Customer Care at 0719060504 , or, click here for our email help form.
        </p>
    <h3>Preparing Your Return By Mail</h3>
    <h5>Small Parcel (I.e. FedEx) Returns</h5>
        <p>

        Detach the top of the invoice and keep it for your records.
        Pack the item(s) securely in the original packaging.
        Complete the return reason questionnaire on the original packing slip and place it inside the box.
        If your shipping receipt included a pre-paid return label, please affix it on to your return package.
        Before sending your return shipment, please remove all extra labels from the outside of the package.
        Many of the orders will include a prepaid UPS return label. If using the pre-paid return label, please follow steps 1-5 directly above and proceed to drop off your package at any UPS drop off location. No postage is necessary; $6.50 will be deducted from your return credit for use of the label.

        If you would prefer to use your own shipping method instead of the pre-paid option on the packing slip or the label was not included on your packing ship, please follow steps 1-3 above and contact XaMarket Customer Care at 0719060504 for help facilitating your return to the returns processing center.

        <h5>Freight Returns</h5>
        If you are not satisfied with the purchase, and the item was originally delivered by one of our oversized freight companies, please call the Xamarket Customer Care Team at 0719060504 for help with your oversized return.
        </p>
    <h3>Returns Exceptions</h3>
<div class="text-left">
            <li style="list-style-type: disc">Items designated as "Online Only" cannot be returned to a XaMarket store location. They must be shipped to the XaMarket Returns Department prepaid and insured by the customer. This information is detailed in Returning an Item and is also printed out and included with your order.</li>
            <li style="list-style-type: disc">Shipping Expenses are non-refundable unless the return is a result of a manufacturing defect or our shipping error. If such an event occurs, please contact World Market Customer Care immediately to arrange the return and we will refund all shipping expenses.</li>
            <li style="list-style-type: disc">Gift Cards are not returnable.</li>
            <li style="list-style-type: disc">Gift Wrap fees are non-refundable, unless an item is damaged or defective.</li>
            <li style="list-style-type: disc">Items purchased from a XaMarket retail store cannot be returned by mail.</li>
            <li style="list-style-type: disc">Returns to a XaMarket store location after 60 days of purchase will be issued store credit.</li>
            <li style="list-style-type: disc">With an Online Gift Receipt/Invoice, an Online gift can be returned. A return or exchange will be offered to the original purchaser or an in-store credit will be issue to the gift recipient.</li>
            <li style="list-style-type: disc">f returned to a store without a receipt, store credit will be issued at the lowest selling price within the past 90 days for merchandise returned in its original condition, with the exception of the following departments:
            <li style="list-style-type: disc">Bedding, Slip Covers, Window Coverings, Shower Curtains, Jewelry & Accessories, Framed Art or Knobs & Hooks.</li>
            </li>
            <p>Can't find the information you need? Contact XaMarket Customer Care, available every day 7am-12 midnight (EST) at 0719060504. Or, click here for our email help form</p>
</div>

    </div>


    </div>
{% endblock %}