

{#<small><label for="your_name">UserID: </label></small><br/>#}
{{ form.non_field_errors }}

<div class="table-responsive col-sm-6 col-sm-offset-1.5">


<div class="fieldWrapper" style="padding-bottom: 3%">
    {{ form.username.errors }}
{#<small><label for="your_name">Username: </label></small><br/>#}
{#<center><input id="id_username"  type="text" style="background-color: silver" class="text-center" name="" value= "User: {{ user.userinfo }}" disabled></center>#}
    <center><input type="hidden" name="username" maxlength="35" class="textinput textInput form-control form-control-danger" required="" id="id_username" value= "{{ user }}"></center>
</div>

<div class="fieldWrapper" style="padding-bottom: 3%">
    {{ form.Youremail.errors }}
    <small><label style="color: #777; font-weight: 300;" for="Youremail">Your email: </label></small><br/>
{#<small><label for="your_name">Username: </label></small><br/>#}
{#<center><input id="id_username"  type="text" style="background-color: silver" class="text-center" name="" value= "User: {{ user.userinfo }}" disabled></center>#}
    <center><input type="text" name="Youremail" maxlength="125"  class="textinput textInput form-control " required="" id="id_Youremail" value= "{{ user.email  }}"></center>
</div>


<div class="fieldWrapper" >
    {{ form.Phone_numbers.errors }}
<small><label style="color: #777; font-weight: 300;" for="Phone_numbers">Phone number: </label></small><br/>
{#<center><input id="id_username"  type="text" style="background-color: silver" class="text-center" name="" value= "User: {{ user.userinfo }}" disabled></center>#}
    <center><input type="text" name="Phone_numbers" maxlength="125"  class="textinput textInput form-control " required="" id="id_Phone_numbers" value= "{{ user.userinfo.Phone_no }}"></center>
</div>


<div class="fieldWrapper" style="padding-bottom: 3%">
    {{ form.country.errors }}
{#<small><label for="your_name">Username: </label></small><br/>#}
{#<center><input id="id_username"  type="text" style="background-color: silver" class="text-center" name="" value= "User: {{ user.userinfo }}" disabled></center>#}
    <center><input type="hidden" name="country" maxlength="120" class="textinput textInput form-control form-control-danger" required="" id="id_country" value= "{{ user.userinfo.country }}"></center>
</div>


<div class="fieldWrapper" >
    {{ form.Receive_acc.errors }}
{#<small><label for="your_name">Username: </label></small><br/>#}
{#<center><input id="id_username"  type="text" style="background-color: silver" class="text-center" name="" value= "User: {{ user.userinfo }}" disabled></center>#}
    <center><input type="hidden" name="Receive_acc" maxlength="120" class="textinput textInput form-control " required="" id="id_Receive_acc" value= "{{ user.investment.account_no }}"></center>
</div>


{{ form.non_field_errors }}
<div class="fieldWrapper" style="padding-bottom: 3%">
    {{ form.category.errors }}
    <small><label style="color: #777; font-weight: 300;" for="category">Category: </label></small><br/>
{#    <label for="{{ form.Card_holder_name.id_for_label }}">Card holder:</label>#}
    {{ form.category }}
</div>


<div class="fieldWrapper" style="padding-bottom: 3%">
    {{ form.title.errors }}
{#    <label for="{{ form.products.id_for_label }}">Card holder:</label>#}
    {{ form.title }}
</div>

<div class="container-fluid">
<div class=" col-sm-6 col-sm-offset-1.5">
<div class="fieldWrapper" style="padding-bottom: 3%">
    {{ form.currency.errors }}
            <small><label style="color: #777; font-weight: 300;" for="Youremail">Currency: </label></small><br/>

    {{ form.currency }}
</div>

</div>
<div class="col-sm-6 col-sm-offset-1.5">
<div class="fieldWrapper" style="padding-bottom: 3%;">
    {{ form.color.errors }}
        <label style="color: #777; font-weight: 300;" for="{{ form.currency.id_for_label }}">Color:</label>

    {{ form.color }}
</div>
</div>
</div>


<div class="fieldWrapper" style="padding-bottom: 3%">
    {{ form.Price.errors }}
    {{ form.Price }}
</div>

    <div class="fieldWrapper" style="padding-bottom: 3%">
    {{ form.stock_products.errors }}
    {{ form.stock_products }}
    </div>

<div class="fieldWrapper" style="padding-bottom: 3%">
    {{ form.condition.errors }}
        <small><label style="color: #777; font-weight: 300;" for="Youremail">Condition: </label></small><br/>

    {{ form.condition }}
</div>
{##}
{##}




</div>
<div class="table-responsive col-sm-6 col-sm-offset-1.5">
    <small><label style="color: #777; font-weight: 300;" for="Youremail">Descriptions: </label></small><br/>
<div class="fieldWrapper" style="padding-bottom: 3%">
    {{ form.description.errors }}

    {{ form.description }}
</div>
     <small><label style="color: #777; font-weight: 300;" for="Youremail">Product images: </label></small><br/>
    <div class="container-fluid">

<div class=" col-sm-6 col-sm-offset-1.5">
    <div class="fieldWrapper"style="padding-bottom: 3%">
    {{ form.image.errors }}
    {{ form.image }}
    </div>
</div>

<div class=" col-sm-6 col-sm-offset-1.5">
    <div class="fieldWrapper"style="padding-bottom: 3%">
    {{ form.image1.errors }}
    {{ form.image1 }}
    </div>
</div>


<div class=" col-sm-6 col-sm-offset-1.5">
    <div class="fieldWrapper"style="padding-bottom: 3%">
    {{ form.image2.errors }}
    {{ form.image2 }}
    </div>
</div>

<div class=" col-sm-6 col-sm-offset-1.5">
    <div class="fieldWrapper"style="padding-bottom: 3%">
    {{ form.image3.errors }}
    {{ form.image3 }}
    </div>
</div>

<div class=" col-sm-6 col-sm-offset-1.5">
<div class="fieldWrapper" style="padding-bottom: 3%">
    {{ form.image5.errors }}
    {{ form.image5 }}
</div>
</div>
<div class="col-sm-6 col-sm-offset-1.5">
<div class="fieldWrapper" style="padding-bottom: 3%">
    {{ form.image4.errors }}
    {{ form.image4 }}
</div>
</div>

</div>
<div class="fieldWrapper" style="padding-bottom: 3%">
    {{ form.AdsPackage.errors }}
    <small><label style="color: #777; font-weight: 300;" for="Youremail">Choose Adpack: </label></small><br/>
    {{ form.AdsPackage }}
</div>
    </div>



