<div class="fieldWrapper" >
    {{ form.product_owner.errors }}
    <center><input type="hidden" name="product_owner" maxlength="120"  class="textinput textInput form-control " required="" id="id_product_owner" value= "{{ purchases.product_owner }}"></center>
</div>

<div class="fieldWrapper" >
    {{ form.userid.errors }}
    <center><input type="hidden" name="userid" maxlength="120"  class="textinput textInput form-control " required="" id="id_userid" value= "{{ purchases.userid }}"></center>
</div>
<div class="fieldWrapper" >
    {{ form.userid.errors }}
    <center><input type="hidden" name="purchase_id" maxlength="120"  class="textinput textInput form-control " required="" id="id_purchase_id" value= "{{ purchases.id }}"></center>
</div>

<div class="fieldWrapper" >
    {{ form.user.errors }}
    <center><input type="hidden" name="user" maxlength="120" class="textinput textInput form-control " required="" id="id_user" value= "{{ purchases.user }}"></center>
</div>
<div class="fieldWrapper" >
    {{ form.Price_sold.errors }}
    <center><input type="hidden" name="Price_sold" maxlength="120" class="textinput textInput form-control " required="" id="id_Price_sold" value= "{{ purchases.Price_sold }}"></center>
</div>


<div class="fieldWrapper" >
    {{ form.Price_sold.errors }}
    <center><input type="hidden" name="Price" maxlength="120" class="textinput textInput form-control " required="" id="id_Price" value= "{{ purchases.Price }}"></center>
</div>
{##}
<div class="fieldWrapper" >
    {{ form.product_id.errors }}
    <center><input type="hidden" name="product_id" maxlength="120" class="textinput textInput form-control " required="" id="id_product_id" value= "{{ purchases.product_id }}"></center>
</div>

{##}
<div class="fieldWrapper" >
    {{ form.Receive_acc.errors }}
    <center><input type="hidden" name="Receive_acc" maxlength="120" class="textinput textInput form-control " required="" id="id_Receive_acc" value= "{{ purchases.Receive_acc }}"></center>
</div>

<div class="fieldWrapper" >
    {{ form.product_title.errors }}
    <center><input type="hidden" name="product_title" maxlength="120" class="textinput textInput form-control " required="" id="id_product_title" value= "{{ purchases.product_title }}"></center>
</div>
{##}

<div class="fieldWrapper" >
    {{ form.currency.errors }}
    <center><input type="hidden" name="currency" maxlength="120" class="textinput textInput form-control " required="" id="id_currency" value= "{{ purchases.currency }}"></center>
</div>


{##}
{##}
{##}
{##}

<div class="fieldWrapper" >
    {{ form.name_of_receiver.errors }}
    <center><input type="hidden" name="name_of_receiver" maxlength="120" class="textinput textInput form-control " required="" id="id_name_of_receiver" value= "{{ purchases.name_of_receiver  }}"></center>
</div>


<div class="fieldWrapper" >
    {{ form.quantity.errors }}
    <center><input type="hidden" name="quantity" class="textinput textInput form-control " required="" id="id_quantity" value= "{{ purchases.quantity }}"></center>
</div>
{##}
{##}
{##}
<div class="fieldWrapper" >
    {{ form.country.errors }}
    <center><input type="hidden" name="country" maxlength="120" class="textinput textInput form-control " required="" id="id_country" value= "{{ purchases.country }}"></center>
</div>
{##}
{##}
<div class="fieldWrapper" >
    {{ form.Region.errors }}
    <center><input type="hidden" name="Region" maxlength="120" class="textinput textInput form-control " required="" id="id_Region" value= "{{ purchases.Region }}"></center>
</div>
{##}
{##}
<div class="fieldWrapper" >
    {{ form.Street.errors }}
    <center><input type="hidden" name="Street" maxlength="120" class="textinput textInput form-control " required="" id="id_Street" value= "{{ purchases.Street }}"></center>
</div>

<div class="fieldWrapper" >
    {{ form.processor.errors }}
    <center><input type="hidden" name="processor" maxlength="128" class="textinput textInput form-control " required="" id="id_processor" value= "{{ purchases.processor }}"></center>
</div>

{##}
{##}

<div class="fieldWrapper" >
    {{ form.phone_no.errors }}
    <center><input type="hidden" name="phone_no" maxlength="120" class="textinput textInput form-control " required="" id="id_phone_no" value= "{{ purchases.phone_no }}"></center>
</div>

{##}
{##}
{##}

<div class="fieldWrapper" >
    {{ form.status.errors }}
    <center><input type="hidden" name="status" maxlength="120" class="textinput textInput form-control " required="" id="id_status" value= "Received"></center>
</div>




<div class="fieldWrapper" >
    {{ form.date_of_delivery.errors }}
    <center><input type="hidden" name="date_of_delivery" maxlength="120" class="textinput textInput form-control " required="" id="id_date_of_delivery" value= "{{ purchases.date_of_delivery }}"></center>
</div>
