
<div class="col-sm-6 col-sm-offset-3" >
<div class="fieldWrapper" style="padding-bottom: 1%">
    {{ form.country.errors }}
    <label style="color: #777; font-weight: 300;" for="{{ form.Disability.id_for_label }}">Country:</label>
    {{ form.country }}
</div>

<div class="fieldWrapper" style="padding-bottom: 1%">
    {{ form.institution_name.errors }}
    {{ form.institution_name }}
</div>


<div class="fieldWrapper" style="padding-bottom: 1%">
    {{ form.attach_certificate.errors }}
    <label style="color: #777; font-weight: 300;" for="{{ form.Disability.id_for_label }}">Attach certificate</label>
    {{ form.attach_certificate }}
</div>



<div class="fieldWrapper" style="padding-bottom: 1%">
    {{ form.educational_level.errors }}
    <label style="color: #777; font-weight: 300;" for="{{ form.Disability.id_for_label }}">Educational level:</label>
    {{ form.educational_level }}
</div>



<div class="fieldWrapper" style="padding-bottom: 1%">
    {{ form.start_time.errors }}
    <label style="color: #777; font-weight: 300;" for="{{ form.Disability.id_for_label }}">Start year:</label>
    {{ form.start_time }}
</div>


<div class="fieldWrapper" style="padding-bottom: 1%">
    {{ form.end_time.errors }}

    <label style="color: #777; font-weight: 300;" for="{{ form.Disability.id_for_label }}">End year:</label>
    {{ form.end_time }}
</div>


<div class="fieldWrapper" style="padding-bottom: 1%">
    {{ form.program_name.errors }}
    {{ form.program_name }}
</div>


</div>
