
<div class="col-sm-6 col-sm-offset-3" >
<div class="fieldWrapper" style="padding-bottom: 1%">
    {{ form.computer_skills.errors }}
    {{ form.computer_skills }}
</div>

<div class="fieldWrapper" style="padding-bottom: 1%">
    {{ form.quality_computer.errors }}
    {{ form.quality_computer }}
</div>


<div class="fieldWrapper" style="padding-bottom: 1%">
    {{ form.attach_certificate_train.errors }}
    <label style="color: #777; font-weight: 300;" for="{{ form.attach_certificate.id_for_label }}">Attach certificate:</label>
    {{ form.attach_certificate_train }}
</div>
</div>
