
<div class="col-sm-6 col-sm-offset-3" >
<div class="fieldWrapper" style="padding-bottom: 1%">
    {{ form.present_address.errors }}
    {{ form.present_address }}
</div>

<div class="fieldWrapper" style="padding-bottom: 1%">
    {{ form.permanent_address.errors }}
    {{ form.permanent_address }}
</div>


<div class="fieldWrapper" style="padding-bottom: 1%">
    {{ form.Telephone.errors }}
    {{ form.Telephone }}
</div>


<div class="fieldWrapper" style="padding-bottom: 1%">
    {{ form.country_of_residence.errors }}
    <label style="color: #777; font-weight: 300;" for="{{ form.Disability.id_for_label }}">Country of residence:</label>
    {{ form.country_of_residence }}
</div>

<div class="fieldWrapper" style="padding-bottom: 1%">
    {{ form.country_code.errors }}
    {{ form.country_code }}
</div>



<div class="fieldWrapper" style="padding-bottom: 1%">
    {{ form.mobile_no.errors }}
    {{ form.mobile_no }}
</div>

<div class="fieldWrapper" style="padding-bottom: 1%">
    {{ form.work_telephone.errors }}
    {{ form.work_telephone }}
</div>

<div class="fieldWrapper" style="padding-bottom: 1%">
    {{ form.altenative_email.errors }}
    {{ form.altenative_email }}
</div>


</div>
