
<div class="col-sm-6 col-sm-offset-3" style="list-style-type: none;">


<div class="fieldWrapper" style="padding-bottom: 1%">
    {{ form.language1.errors }}
    <label style="color: #777; font-weight: 300;" for="{{ form.Disability.id_for_label }}">Language 1</label>
    {{ form.language1 }}
</div>

<div class="fieldWrapper" style="padding-bottom: 1%">

    <ul id="id_Quality1" style="list-style-type: none">
    <li><label style="font-weight: 300" for="id_Quality1_0"><input name="Quality1" value="Very Good" style="width: 100%" type="radio" required id="id_Quality1_0" />
 Very Good</label>

</li>
    <li><label style="font-weight: 300" for="id_Quality1_1"><input name="Quality1" value="Good" style="width: 100%" type="radio" required id="id_Quality1_1" />
 Good</label>

</li>
    <li><label style="font-weight: 300" for="id_Quality1_2"><input name="Quality1" value="Bad" style="width: 100%" type="radio" required id="id_Quality1_2" />
 Bad</label>

</li>
</ul>
</div>

<div class="fieldWrapper" style="padding-bottom: 1%">
    {{ form.language2.errors }}
    <label style="color: #777; font-weight: 300;" for="{{ form.Disability.id_for_label }}">Language 2</label>
    {{ form.language2 }}
</div>
<div class="fieldWrapper" style="padding-bottom: 1%">


    <ul id="test1" style="list-style-type: none;" >
    <li><label style="font-weight: 300"  for="test1_0"><input name="Quality2" value="Very Good" style="width: 100%" type="radio" id="id_Quality2_0" required />
 Very Good</label>

</li>
    <li><label style="font-weight: 300" for="test1_1"><input name="Quality2" value="Good" style="width: 100%" type="radio" id="id_Quality2_1" required />
 Good</label>

</li>
    <li><label style="font-weight: 300" for="test1_2"><input name="Quality2" value="Bad" style="width: 100%" type="radio" id="id_Quality2_2" required />
 Bad</label>

</li>
</ul>
</div>

<div class="fieldWrapper" style="padding-bottom: 1%">
    {{ form.language3.errors }}
    <label style="color: #777; font-weight: 300;" for="{{ form.Disability.id_for_label }}">Language 3 <i style="font-size: 10px;">***optional***</i></label>
    {{ form.language3 }}
</div>

<div class="fieldWrapper" style="padding-bottom: 1%">

    <ul id="id_Quality3" style="list-style-type: none">
    <li><label style="font-weight: 300 " for="id_Quality3_0"><input name="Quality3" value="Very Good" style="width: 100%; list-style-type: none;" type="radio" required id="id_Quality3_0" />
 Very Good</label>

</li>
    <li><label style="font-weight: 300" for="id_Quality3_1"><input name="Quality3" value="Good" style="width: 100%; list-style-type: none;" type="radio" required id="id_Quality3_1" />
 Good</label>

</li>
    <li><label  style="font-weight: 300" for="id_Quality3_2"><input name="Quality3" value="Bad" style="width: 100%; list-style-type: none;" type="radio" required id="id_Quality3_2" />
 Bad</label>

</li>
</ul>
</div>


</div>
