{% extends "jobs.html" %}
{% load staticfiles %}


{% block marked %}
{% if object_list.count > 0 %}
<div class="container-fluid" style="overflow-x: scroll">
<table class="table table-striped">
    <tbody>
        <tr>
            <th style="padding-right: 3px;"><small>Job</small></th>
            <th><small>Organization</small></th>
            <th><small>City</small></th>
            <th><small>Country</th>
            <th><small>Email</small></th>
            <th><small>Address</small></th>
            <th><small>Dedline</small></th>
            <th><small>Action</small></th>
        </tr>
            {% for m in object_list %}
        <tr>
            <td style="font-size: 12px;"><a href="{% url 'jobs:alldetails' m.job_id %}">{{ m.job_title }}</a></td>
            <td style="font-size: 12px;">{{ m.organization }}</td>
            <td style="font-size: 12px;">{{ m.city_name }}</td>
            <td style="font-size: 12px;">{{ m.Country_of_work }}</td>
            <td style="font-size: 12px;">{{ m.email }}</td>
            <td style="font-size: 12px;">{{ m.location_address }}</td>
            <td style="font-size: 12px;">{{ m.application_deadline }}</td>
            <td style="font-size: 12px;">
                <form method="post" action="{% url 'jobs:unmark' m.id %}" >{% csrf_token %}
                    <input type="hidden" name="Purchase_id" value="{{ m.id }}">
                    <input  type="submit" style="font-size: 9px" class="btn btn-danger" value="&#x2717; Unmark">
                </form>
            </td>
        </tr>
            {% endfor %}
<tr></tr>
<tr></tr>
    </tbody>
</table>
    </div>
    <div class="text-center">
            <div class="pagination" >
                <span class="step-links text-center">
                    {% if page_obj.has_previous %}
                        <a href="?page={{ page_obj.previous_page_number }}">previous</a>
                    {% endif %}

                    <span class="current">
                        Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                    </span>

                    {% if page_obj.has_next %}
                        <a href="?page={{ page_obj.next_page_number }}">next</a>
                    {% endif %}
                </span>
            </div>
        </div>

{% else %}

    <div style="padding-top: 8%"></div>
    <div class="wat" style="padding-bottom: 10%;">  <img  class="center-block" src="{% static "image/empty.png" %}" width="120" height="120">     <h3 class="text-center">You have not Marked any item </h3></div>

{% endif %}
{% endblock %}