
<div class="col-sm-6 col-sm-offset-1.5" >

<div class="fieldWrapper" style="padding-bottom: 1%">
    {{ form.disability.errors }}
    <label style="color: #777; font-weight: 300;" for="{{ form.Disability.id_for_label }}">Disability</label>
    {{ form.disability }}
</div>

<div class="fieldWrapper" style="padding-bottom: 2%">
    {{ form.nationality.errors }}
    <label style="color: #777; font-weight: 300;" for="{{ form.Disability.id_for_label }}">Nationality</label>
    {{ form.nationality }}
</div>


<div class="fieldWrapper" style="padding-bottom: 3%">
    {{ form.years_of_work_experience.errors }}
    {{ form.years_of_work_experience }}
</div>

<div class="fieldWrapper" style="padding-bottom: 2%">
    {{ form.criminal_record.errors }}
    <label style="color: #777; font-weight: 300;" for="{{ form.Disability.id_for_label }}">Criminal records</label>
    {{ form.criminal_record }}
</div>


<div class="fieldWrapper" style="padding-bottom: 4%">
    {{ form.Marital_status.errors }}
    <label style="color: #777; font-weight: 300;" for="{{ form.Marital_status.id_for_label }}">Marital status</label>
    {{ form.Marital_status }}
</div>

<div class="fieldWrapper" style="padding-bottom: 2%">
    {{ form.date_of_birth.errors }}
    <label style="color: #777; font-weight: 300;" for="{{ form.date_of_birth.id_for_label }}">Date of birth</label>
    {{ form.date_of_birth }}
</div>
</div>
<div class=" col-sm-6 col-sm-offset-1.5" >

<div class="fieldWrapper" style="padding-bottom: 2%">
    {{ form.place_of_birth.errors }}
    {{ form.place_of_birth }}
</div>

<div class="fieldWrapper" style="padding-bottom: 2%">
    {{ form.Gender.errors }}
    <label style="color: #777; font-weight: 300;" for="{{ form.Gender.id_for_label }}">Gender</label>
    {{ form.Gender }}
</div>


<div class="fieldWrapper" style="padding-bottom: 2%">
    {{ form.last_name.errors }}
    {{ form.last_name }}
</div>

<div class="fieldWrapper" style="padding-bottom: 2%">
    {{ form.middle_name.errors }}
    {{ form.middle_name }}
</div>


<div class="fieldWrapper" style="padding-bottom: 2%">
    {{ form.first_name.errors }}
    {{ form.first_name }}
</div>

</div>

