
<div class="col-sm-6 col-sm-offset-3" >

<div class="fieldWrapper" style="padding-bottom: 1%">
    {{ form.country_prof.errors }}
    <label style="color: #777; font-weight: 300;" for="{{ form.country_prof.id_for_label }}">Country:</label>
    {{ form.country_prof }}
</div>


<div class="fieldWrapper" style="padding-bottom: 1%">
    {{ form.institution_name_prof.errors }}
    {{ form.institution_name_prof }}
</div>



<div class="fieldWrapper" style="padding-bottom: 1%">
    {{ form.course_name.errors }}
    {{ form.course_name }}
</div>



<div class="fieldWrapper" style="padding-bottom: 1%">
    {{ form.start_time_prof.errors }}
    <label style="color: #777; font-weight: 300;" for="{{ form.Disability.id_for_label }}">Start year</label>
    {{ form.start_time_prof }}
</div>


<div class="fieldWrapper" style="padding-bottom: 1%">
    {{ form.end_time_prof.errors }}
    <label style="color: #777; font-weight: 300;" for="{{ form.Disability.id_for_label }}">End year</label>
    {{ form.end_time_prof }}
</div>


<div class="fieldWrapper" style="padding-bottom: 1%">
    {{ form.attach_certificate_prof.errors }}
    <label style="color: #777; font-weight: 300;" for="{{ form.Disability.id_for_label }}">Attach certificate:</label>
    {{ form.attach_certificate_prof }}
</div>

</div>
