
<div class="col-sm-6 col-sm-offset-1.5" >


<div class="fieldWrapper" style="padding-bottom: 1%">
    {{ form.referee_name.errors }}
    {{ form.referee_name }}
</div>

<div class="fieldWrapper" style="padding-bottom: 2%">
    {{ form.organisation_of_a_referee.errors }}
    {{ form.organisation_of_a_referee }}
</div>

<div class="fieldWrapper" style="padding-bottom: 3%">
    {{ form.title.errors }}
    {{ form.title }}
</div>

<div class="fieldWrapper" style="padding-bottom: 2%">
    {{ form.referee_email.errors }}
    {{ form.referee_email }}
</div>


<div class="fieldWrapper" style="padding-bottom: 4%">
    {{ form.referee_address.errors }}
    {{ form.referee_address }}
</div>

<div class="fieldWrapper" style="padding-bottom: 2%">
    {{ form.other_attachment1.errors }}
    {{ form.other_attachment1 }}
</div>





<div class="fieldWrapper" style="padding-bottom: 2%">
    {{ form.birth_certificate.errors }}
    <label style="color: #777; font-weight: 300;" for="{{ form.Disability.id_for_label }}">Birth certificate:</label>
    {{ form.birth_certificate }}
</div>


<div class="fieldWrapper" style="padding-bottom: 2%">
    {{ form.recomendation_letter.errors }}
    <label style="color: #777; font-weight: 300;" for="{{ form.Disability.id_for_label }}">Recomendation letter:</label>
    {{ form.recomendation_letter }}
</div>



</div>
<div class=" col-sm-6 col-sm-offset-1.5" >


<div class="fieldWrapper" style="padding-bottom: 1%">
    {{ form.CV.errors }}
    <label style="color: #777; font-weight: 300;" for="{{ form.Disability.id_for_label }}">CV:</label>
    {{ form.CV }}
</div>


<div class="fieldWrapper" style="padding-bottom: 2%">
    {{ form.TCU_certificate.errors }}
    <label style="color: #777; font-weight: 300;" for="{{ form.Disability.id_for_label }}">Profivers(TCU) certificate</label>
    {{ form.TCU_certificate }}
</div>


<div class="fieldWrapper" style="padding-bottom: 2%">
    {{ form.other_certificates1.errors }}
    <label style="color: #777; font-weight: 300;" for="{{ form.Disability.id_for_label }}">Other certificate 1:</label>
    {{ form.other_certificates1 }}
</div>

<div class="fieldWrapper" style="padding-bottom: 2%">
    {{ form.other_certificates2.errors }}
    <label style="color: #777; font-weight: 300;" for="{{ form.Disability.id_for_label }}">Other certificate 2:</label>
    {{ form.other_certificates2 }}
</div>



<div class="fieldWrapper" style="padding-bottom: 2%">
    {{ form.other_certificates3.errors }}
    <label style="color: #777; font-weight: 300;" for="{{ form.Disability.id_for_label }}">Other certificate 3:</label>
    {{ form.other_certificates3 }}
</div>

<div class="fieldWrapper" style="padding-bottom: 2%">
    {{ form.other_certificates4.errors }}
    <label style="color: #777; font-weight: 300;" for="{{ form.Disability.id_for_label }}">Other certificate 4:</label>
    {{ form.other_certificates4 }}
</div>



</div>





