
<div class="col-sm-6 col-sm-offset-3" >

<div class="fieldWrapper" style="padding-bottom: 1%">
    {{ form.training_name.errors }}
    {{ form.training_name }}
</div>



<div class="fieldWrapper" style="padding-bottom: 1%">
    {{ form.Institution.errors }}
    {{ form.Institution }}
</div>


<div class="fieldWrapper" style="padding-bottom: 1%">
    {{ form.Attact_your_certificate.errors }}
    <label style="color: #777; font-weight: 300;" for="{{ form.Disability.id_for_label }}">Attach your certificate:</label>
    {{ form.Attact_your_certificate }}
</div>

<div class="fieldWrapper" style="padding-bottom: 1%">
    {{ form.description_training.errors }}
    {{ form.description_training }}
</div>

<div class="fieldWrapper" style="padding-bottom: 1%">
    {{ form.starting_date_teraining.errors }}
    {{ form.starting_date_teraining }}
</div>


<div class="fieldWrapper" style="padding-bottom: 1%">
    {{ form.end_date_teraining.errors }}
    {{ form.end_date_teraining }}
</div>


</div>
