
<div class="col-sm-6 col-sm-offset-3" >
<div class="fieldWrapper" style="padding-bottom: 1%">
    {{ form.organization.errors }}
    {{ form.organization }}
</div>

<div class="fieldWrapper" style="padding-bottom: 1%">
    {{ form.supervisor_name.errors }}
    {{ form.supervisor_name }}
</div>


<div class="fieldWrapper" style="padding-bottom: 1%">
    {{ form.supervisor_telephone_number.errors }}
    {{ form.supervisor_telephone_number }}
</div>



<div class="fieldWrapper" style="padding-bottom: 1%">
    {{ form.job_title.errors }}
    {{ form.job_title }}
</div>



<div class="fieldWrapper" style="padding-bottom: 1%">
    {{ form.supervisor_address.errors }}
    {{ form.supervisor_address }}
</div>


<div class="fieldWrapper" style="padding-bottom: 1%">
    {{ form.Duties_and_responsibilities.errors }}
    {{ form.Duties_and_responsibilities }}
</div>

<div class="fieldWrapper" style="padding-bottom: 1%">
    {{ form.current_job.errors }}
    {{ form.current_job }}
</div>

<div class="fieldWrapper" style="padding-bottom: 1%">
    {{ form.start_date.errors }}
    <label style="color: #777; font-weight: 300;" for="{{ form.Disability.id_for_label }}">Start year:</label>
    {{ form.start_date }}
</div>


<div class="fieldWrapper" style="padding-bottom: 1%">
    {{ form.end_date.errors }}
    <label style="color: #777; font-weight: 300;" for="{{ form.Disability.id_for_label }}">End year:</label>
    {{ form.end_date }}
</div>


</div>
